[2022-02-05 18:23] probonopd opened #1 "cc1: error: unknown value 'armv7-a' for '-march'"
Trying to make the aarch64 SD card contents, running into:

https://github.com/probonopd/MiniDexed/runs/5079236408?check_suite_focus=true#step:7:42

[code]

[2022-02-05 18:34] #1 closed

[2022-02-20 09:20] probonopd opened #7 "Sound goes bad when 8 keys are pressed, clipping?"
Sound goes bad when 8 keys are pressed simultaneously.

Is this caused by clipping?
Does this also happen in MicroDexed?

cc @dcoredump

[2022-02-20 09:26] probonopd opened #8 "Output MIDI messages for debugging and development"
Let's output MIDI messages to the screen and/or to serial for debugging and development.

We will also need this if we want MiniDexed to act upon special MIDI messages outside of Synth_Dexed.

Since MIDI is processed inside [Synth_Dexed](https://codeberg.org/dcoredump/Synth_Dexed), would we need a callback of some sort in order to get the MIDI messages?

@dcoredump wdyt?

[2022-02-20 09:27] probonopd opened #9 "Support the volume knob, modulation, and pitch bend on MIDI controllers"
Support the volume knob on MIDI controllers.

(Once #8 is implemented I can say which MIDI message the volume knob sends.)

[2022-02-20 09:28] probonopd opened #10 "Support the sustain button on MIDI controllers"
Support the sustain button on MIDI controllers.

(Once https://github.com/probonopd/MiniDexed/issues/8 is implemented I can say which MIDI message the sustain button sends.)

[2022-02-20 09:35] probonopd opened #11 "Support selecting patches using MIDI Bank Change and Program Change messages"
Many USB keyboards can send Bank LSB and Bank MSB Changes, and Program Changes. If we put several `.syx` files on the microSD card, then we might use Bank LSB and Bank MSB Changes to select those `.syx` files, and Program Changes to select patches.

(Once #8 is implemented I can say which MIDI messages we need to react to.)

[2022-02-20 09:38] probonopd commented on #11
Since our ultimate goal here is to run multiple instances of Dexed (e.g., up to 8 instances akin to the [TX816](https://www.vintagesynth.com/yamaha/tx816.php) and the [TX802](https://www.vintagesynth.com/yamaha/tx802.php), we should also think of a way to define and load "performance" patches (basically a collection of up to 8 patches).

[2022-02-20 09:42] probonopd opened #12 "Run multiple Dexed instances at the same time"
Our ultimate goal here is to run multiple instances of Dexed (e.g., up to 8 instances akin to the [TX816](https://www.vintagesynth.com/yamaha/tx816.php) and the [TX802](https://www.vintagesynth.com/yamaha/tx802.php).

A very typical use case is to create the characteristic "fat" sound by running multiple instances of the same instrument, each slightly detuned and slightly stereo-panned.

As shown

[2022-02-20 09:44] probonopd opened #13 "Stereo panning"
Implement Stereo panning for each Dexed instance.

This is needed to create the characteristic "fat" sound known from the [TX816](https://www.vintagesynth.com/yamaha/tx816.php) and the [TX802](https://www.vintagesynth.com/yamaha/tx802.php).

[2022-02-20 09:58] probonopd commented on #13
Looks like https://codeberg.org/dcoredump/MicroDexed/ has effects like this. Do you think these could be put into Synth_Dexed and hence made usable for MiniDexed @dcoredump?

[2022-02-20 10:02] probonopd opened #15 "Reverb and other effects"
Looks like https://codeberg.org/dcoredump/MicroDexed/ has effects like this. Do you think these could be put into Synth_Dexed and hence made usable for MiniDexed @dcoredump?

Let's think about how we should best make use of the 4 cores of the Raspberry Pi  4 for tasks like
* Running multiple Dexed instances (ideally at least 8)
* Running effects like Reverb
* Eventually, running some sort of user

[2022-02-20 10:46] rsta2 commented on #15
You can fetch a microseconds up-counter with:

[code]

If you save the count before and after some action, you can determine, how much time it takes.

Because there aren't tasks in MiniDexed, the CPU usage is always 100%. Most time is likely spent in `GetChunk()` and in the main loop in `CKernel::Run()`.

BTW. Currently MiniDexed does use only CPU core 0. If you want to change this, you must paral

[2022-02-20 10:50] probonopd commented on #15
Exactly. This is what I mean.

[2022-02-20 10:51] probonopd commented on #12
@rsta2] [says](https://github.com/probonopd/MiniDexed/issues/15#issuecomment-1046209785):

[2022-02-20 11:06] probonopd opened #16 "Add a build for Raspberry 3"
The latest build contains a version for Raspberry 3 in addition to Raspberry Pi 4.
I could not get it to boot on the Raspberry 3 yet, though.

[2022-02-20 11:12] probonopd commented on #16
@rsta2 am I doing it wrong` Is there more to it than adding `kernel8.img`?

[2022-02-20 12:56] dcoredump commented on #13
Yes, I can do this. But give me some time :) I would like to add the MIDI processing code first.

[2022-02-20 12:59] dcoredump commented on #12
Just briefly my ideas on this: Processing audio in parallel would be cool, but synchronizing the individual processes for output is not that easy. I would push this far back and first try to reach the maximum on one CPU.

[2022-02-20 13:00] dcoredump commented on #11
Will do this with adding MIDI processing support for Synth_Dexed (see also #9, #10, #11)

[2022-02-20 13:01] dcoredump commented on #10
Will do this with adding MIDI processing support for Synth_Dexed (see also #9, #11)

[2022-02-20 13:01] dcoredump commented on #9
Will do this with adding MIDI processing support for Synth_Dexed (see also #10, #11)

[2022-02-20 13:02] dcoredump commented on #7
I am very sure that it is clipping. Even when I play the FM-PIano 5-voice very dynamically, it starts clipping. I'll have to have a look at it.

[2022-02-20 13:06] dcoredump opened #17 "I2S support for using a Hifiberry audio DAC (16-bit)"
Using I2S sound boards would be very nice, because real 16bit/44.1 KHz audio sounds much better than 12(?)bit PWM.

[2022-02-20 13:09] dcoredump opened #18 "Add HDMI audio out"
If not, the code should be dropped.

I personally don't need this because my experience is that an external HDMI->Audioconverter adds too much latency.

[2022-02-20 13:10] dcoredump opened #19 "Code for playing with standard ASCII-keyboard needed?"
If not, the code should be dropped.

If we should need this, the code has to be fixed for keyUp() which isnt' currently implemented. Also there is no way to add velocity to those keyboards...

[2022-02-20 13:18] probonopd commented on #12
Would running sound generation on one core and the effects on a separate core be any easier?
Currently I have no idea about how CPU intensive running multiple Dexed instances with some reverb will be. All I can say is that using REAPER I can run _many_ more than 8 on the same hardware :-)

[2022-02-20 13:27] probonopd commented on #17
Indeed.

According to the [README](https://github.com/rsta2/circle/tree/master/sample/34-sounddevices), Circle supports

https://github.com/rsta2/circle/blob/75bc0890490f4c38f8cdf0eee83a2bad40942566/sample/34-sounddevices/kernel.cpp#L129-L137

shows how to initialize it. Unfortunately I don't have any PCM5102A or PCM5122 devices to test with. I do have a [WM8960](https://www.waveshare.com/wm8960-a

[2022-02-20 13:29] probonopd commented on #19
I think it's useful for testing and debugging, for people who don't have a "known good" MIDI keyboard at hand.
`keyUp()` would be nice indeed.

[2022-02-20 13:32] probonopd commented on #18
I don't think it is currently implemented in MiniDexed?
Personally I am not too interested in it, but I would not proactively remove code for it in case some users want to add that functionality later. Some TVs have dedicated game modes for minimizing latency; I have never systematically tested this for sound, though.

[2022-02-20 13:48] probonopd commented on #12
Here are 20 instances of Dexed playing in REAPER on the the Raspberry Pi 4, all slightly detuned, some stereo-shifted, and reverb added to them in groups of 4. When playing this, ~50% of the Raspberry Pi 4 is idle, so I am assuming this type of workload needs ~2 cores.

[20-detuned-dexed-shifted-and-reverb.zip](https://github.com/probonopd/MiniDexed/files/8104089/20-detuned-dexed-shifted-and-rever

[2022-02-20 14:32] rsta2 commented on #16
I guess, it's the serial MIDI interface, which is on GPIO12/13 for the RPi 4 now. The RPi 3 does not have an UART there, so the serial driver will assert in the early stages, when a message cannot be displayed yet.

If we want to have this serial MIDI interface on the RPi 3 too, then the startup code from circle-stdlib must be adapted, so that it does not use the serial device on GPIO14/15 any mor

[2022-02-20 14:33] probonopd commented on #16
That would be great @rsta2. Yes, I do think that serial MIDI is a useful thing to have.

[2022-02-20 15:18] rsta2 commented on #16
Here come the patches. The file *circle_stdlib_app.h* must be placed into *src/* of MiniDexed. I tested playing via USB MIDI on the RPi 3B. Serial MIDI should be on GPIO14/15 on all RPi models now, but I don't think, that it works already.

[serial_patch.zip](https://github.com/probonopd/MiniDexed/files/8104249/serial_patch.zip)

@smuehlst Perhaps there should be the possibility to disable `mSeria

[2022-02-20 15:49] probonopd commented on #16
Works for me on the Raspberry Pi 3, thanks @rsta2 :+1:

[2022-02-20 15:49] #16 closed

[2022-02-20 16:22] probonopd opened #20 "Support Serial MIDI"
Currently we can play notes on a MIDI controller (keyboard) and (for testing and debugging) USB (QWERTY) keyboards.

In addition, we would like to support Serial MIDI, to connect older MIDI keyboards that don't come with USB using a circuit like this:

![image](https://user-images.githubusercontent.com/2480569/152688743-9f07ca3f-f851-4c32-bbf1-0aaab8bea06c.png)

Image Source: https://hackaday.com/

[2022-02-20 16:30] probonopd commented on #20
We need to use `m_Serial (pInterrupt, TRUE, 5)` as discussed [here](https://github.com/rsta2/circle/issues/274#issuecomment-1030851026).

[2022-02-20 16:59] probonopd opened #21 "Show patch name on HD44780 display"
Inexpensive HD44780 displays like [this one](https://www.berrybase.de/sensoren-module/displays/alphanumerische-displays/alphanumerisches-lcd-16x2-gr-252-n/gelb?c=123) are [supported](https://github.com/rsta2/circle/blob/master/addon/display/sample/hd44780/README) in Circle.

Looks like the original DX7 uses a similar 16x2 display.

![image](https://user-images.githubusercontent.com/2480569/1548544

[2022-02-20 17:13] probonopd opened #22 "Consider support for optional rotary encoder"
Consider support for a [rotary encoder with button](https://www.berrybase.de/bauelemente/passive-bauelemente/potentiometer/drehimpulsgeber/drehregler/rotary-encoder-mit-breakoutboard-ohne-gewinde-und-mutter).

This could, together with a [display](https://github.com/probonopd/MiniDexed/issues/21), be used for menu based navigation and (simple) parameter editing. But maybe it is not worth the effor

[2022-02-20 17:54] probonopd opened #23 "Build for Raspberry Pi 2 fails"
Trying to build a 32-bit version for Raspberry Pi 2 too but running into

[code]

https://github.com/probonopd/MiniDexed/runs/5265872462?check_suite_focus=true#step:6:1184

It looks like some issue with circle-newlib. @smuehlst can it be built for 32-bit systems such as Raspberry Pi 2?

Maybe I am missing some necessary "cleanup" steps after having built the 64-bit versions?

[2022-02-20 18:05] smuehlst commented on #23
Sure, circle-stdlib can be built for all platforms that Circle supports. Very likely the cleanup is incomplete. Try running `make mrproper` from the circle-stdlib root directory, this should clean up all build results.

[2022-02-20 18:49] probonopd commented on #23
Still getting `make: *** [Makefile:17: newlib] Error 2`.

Does it do this recursively, also for newlib?

[2022-02-20 19:02] rsta2 commented on #20
Attached the patches for serial MIDI (tested). The UART input (RX) is at GPIO15 now, not 13 any more!!! This has changed, because the RPi 3 does not has an UART at GPIO13.

[serial_midi_patch.zip](https://github.com/probonopd/MiniDexed/files/8104732/serial_midi_patch.zip)

[2022-02-20 19:15] probonopd commented on #20
Thanks @rsta2.

Getting

[code]

Did I do something wrong?

[2022-02-20 19:24] rsta2 commented on #20
@probonopd Can it be, that you haven't updated the Synth_Dexed submodule reference to the new master? It still points to a commit from 5 days ago.

[2022-02-20 19:36] probonopd commented on #20
D'oh!

[2022-02-20 19:45] smuehlst commented on #23
Can you show the complete sequence of commands that leads to this error? And what command invocation causes make to stop with the error?

Yes, it should. See the circle-stdlib Makefile:

https://github.com/smuehlst/circle-stdlib/blob/47d9deb580f3d91201c2e275d3412abfbafdf156/Makefile#L77-L78

[code]

[2022-02-20 20:02] probonopd commented on #20
Build succeeded but I can't get sound via serial. Possibly it is the wiring on my side. What exact circuit are you using?

[2022-02-20 20:04] probonopd commented on #23
Can you show the complete sequence of commands that leads to this error?

* https://github.com/probonopd/MiniDexed/blob/main/.github/workflows/build.yml which invokes
* https://github.com/probonopd/MiniDexed/blob/main/build.sh

[2022-02-20 20:32] smuehlst commented on #23
You are doing the `make mrproper` in the wrong directory. I wrote:

You are doing this:

https://github.com/probonopd/MiniDexed/blob/bd5a6c4acd5c3b9e8aee3e70d5f89924cfc3c6c2/build.sh#L18-L20

[code]

What I suggested was this:

[code]

[2022-02-20 22:19] rsta2 commented on #20
I tested this with a normal USB-to-serial-adapter with PC Linux and a small C program as MIDI sender. For this test I modified the serial baud rate in MiniDexed to 38400, because 31250 cannot be selected on the PC (at least I do not know how). The adapter provides 3.3V signals, so I can connect it directly to GPIO14/15.

The UART GPIO mapping is [here](https://github.com/rsta2/circle/blob/master/i

[2022-02-21 09:18] rsta2 commented on #20
@probonopd One hint: The serial MIDI will only work, when USB MIDI is disconnected. You have to remove your USB MIDI keyboard for a test.

If you have a free Raspberry Pi Pico, you could use [this project](https://github.com/rsta2/pico/tree/main/midi_adapter) to connect a sequencer program, running on a PC, to MiniDexed.

[2022-02-21 10:40] rsta2 commented on #17
Here comes a patch for the I2S (tested with a PiFi DAC+ v2.0 HAT) and HDMI (also tested) modes. You have to add one of the following lines to the file *circle-stdlib/libs/circle/Config.mk* after entering *configure* to generate a respective version of MiniDexed:

[code]

In the .zip file there is a `configure` script, which can be used to call `circle-stdlib/configure` and automatically add these

[2022-02-21 10:45] rsta2 commented on #18
Please see issue #17 for a patch, which enables I2S and HDMI modes. Yes, there is some latency, when using HDMI, but the additional code effort for HDMI is small. On the Raspberry Pi 4 the display must be connected to the HDMI0 connector, so that it works.

[2022-02-21 14:52] dcoredump commented on #8
Hm, I'm a little undecided at the moment how best to do this. With MicroDexed I use the MIDI-library, where you can register handlers for various events. I use the following handlers:
[code]

Maybe we should use such a system too?

[2022-02-21 15:50] rsta2 commented on #8
[This logging facility](https://circle-rpi.readthedocs.io/en/44.3/basic-system-services/system-log.html) may be of interest.

[2022-02-21 17:36] probonopd commented on #23
I can confirm that building _locally_ for the Raspberry Pi 1 succeeds, and the image works. It looks like the Raspberry Pi 1 can handle a single Dexed instance without effects really well, so can do what the DX7 did. Will be interesting to see how many Dexed instances and effects we can squeeze onto the Pi 1.

[2022-02-21 17:41] probonopd commented on #8
Sounds exactly like what we need :+1:

[2022-02-21 17:51] probonopd commented on #17
Hello @rsta2, thanks for this patch!

Is it also possible to enable _both_ and have no bad side effects when the respective hardware is not available? Ideally, we would have one binary that fits all supported hardware configurations. Could the output be changed from the headphone jack to one of the other outputs by using a txt file on the microSD card?

[2022-02-21 18:06] probonopd commented on #20
Great hint, sure enough I had the USB MIDI connected in addition to Serial MIDI. It is still not working though, but most likely my selfmade MIDI Serial circuit to be the culprit. Will redo it with the help of an oscilloscope and logic analyzer once I find the time for it (might take a while). If anyone is faster and is successful in e.g., using a Serial MIDI keyboard, please let me know!

[2022-02-21 18:08] probonopd commented on #23
Now the build succeeds but only `kernel7.img` ends up in the image...

[2022-02-21 19:52] rsta2 commented on #17
The hardware cannot detect, if there is something connected to the headphone jack (PWM mode). Some I2S HATs could be detected, but not all. This is also not implemented in the Circle drivers. I think, to enable more then one interface is not the way to go. The recommended way, to handle different audio interfaces and to select the one to use, is implemented in the Circle *sample/34-sounddevices*.

[2022-02-21 20:01] probonopd commented on #23
We now have builds for all Raspberry Pi models, and have 4 kernels:

[code]

Thanks for your help @smuehlst :+1:

[2022-02-21 20:01] #23 closed

[2022-02-21 20:07] probonopd commented on #17
`cmdline.txt` seems like the way to go to me! How much rework would it be to get it going?

What would the advantage of VCHIQ sound be? Better quality? "difficult to handle (needs tasks, difficult timing)" sounds to me like we should probably not use it.

[2022-02-21 20:56] probonopd commented on #23
It looks like `config32.txt` needs to be renamed to `config.txt` in order for this to boot on Raspberry Pi 1 (and probably 2).
Is there a way to merge the `config32.txt` and `config64.txt` files in such a way that the system boots on both kinds of systems (64-bit on 3 and 4, 32-bit otherwise)? Or should we use 32-bit for 3 and 4 as well? cc @rsta2

[2022-02-22 06:40] rsta2 commented on #17
Yes, I would also prefer the *cmdline.txt* solution. I found an implementation now, which works without big modifications and without changing from `GetChunk()` to `Write()`. The patch is attached. It is based on the current master of both projects, so the previous patch above is obsolete. With these modifications you need to build only one kernel image for each target and can select the sound int

[2022-02-22 06:57] rsta2 commented on #23
Good question! Both is possible. In MiniSynth Pi I currently use 32-bit mode for all models, but with this *config.txt* you can use 64-bit for RPi 3, 4, 400 and Zero 2, and 32-bit for all other models:

[code]

[2022-02-22 07:36] probonopd commented on #17
Thanks for the patch and for the explanation @rsta2.
Agree about VCHIQ, seems not worth the effort at this point. Who wants quality will probably use a i2c DAC anyway.

[2022-02-22 07:36] #17 closed

[2022-02-22 07:37] probonopd commented on #18
Implemented in https://github.com/probonopd/MiniDexed/commit/a00bf55eea334e80eb1e9569ddb1221df852a2e5. Thanks @rsta2 :+1:

[2022-02-22 07:37] #18 closed

[2022-02-22 09:16] rsta2 commented on #8
I think, all Raspberry Pi specific things should go to the MiniDexed project, DX7 specific things into Synth_Dexed. This would mean, that the `AudioSynthDexed*` classes for the Raspberry Pi should be moved to the MiniDexed project.

[2022-02-22 11:03] dcoredump commented on #8
Yes, that would make things clearer. But `AudioSynthDexed` should be renamed in MiniDexed to avoid duplication of names (`AudioSynthDexed` must be left intact for MicroDexed).

[2022-02-22 14:21] rsta2 commented on #8
Yes, to rename it is a good idea.

[2022-02-22 17:48] probonopd opened #24 "Performance sysex (PCED)"
Our objective is to ultimately run multiple Dexed instances at the same time (#12).

Sound generators like the TX816 and TX802 use the _performance sysex_ format. We should support it.

[2022-02-22 19:35] rsta2 commented on #8
Should I do this update to move the classes `AudioSynthDexed*` out of the Synth_Dexed project and to the MiniDexed project and rename the classes? This will affect a number of source code files.

[2022-02-22 20:40] probonopd commented on #8
if @dcoredump does not object, I think this would be fantastic.

[2022-02-23 09:28] rsta2 commented on #8
@dcoredump did not object, so here come the patches. It moves the Raspberry Pi specific code from the classes `AudioSynthDexed*` from the Synth_Dexed project to the MiniDexed project. The four new files in the *src/* directory go to *MiniDexed/src/*.

There is an addtiional patch *build.sh.patch* included, which enables the system option `SAVE_VFP_REGS_ON_IRQ` after configure. This is necessary, b

[2022-02-23 10:50] dcoredump commented on #8
Sorry, I was too busy to answer in time. Removing the _circle specific_ `AudioSynthDexed` class would be good. So I only have to manage one hardware base inside the library again.

I will try the patches soon.

[2022-02-23 14:07] dcoredump commented on #8
Patches are working for me! Great job. I have removed the circle stuff from `Synth_Dexed`. Currently working on stereo pan.

[2022-02-23 17:33] probonopd opened #26 "Transaction failed (status 0x202), Transaction failed (status 0x402)"
Using M-Audio Keystation Mini 32 MK3, getting `Transaction failed (status 0x202)`, `Transaction failed (status 0x402)` when playing many notes at once or in quick succession.

Raspberry Pi 2 and 3 with sndhdmi
* Transaction failed (status 0x202)
* Transaction failed (status 0x402)

Raspberry Pi 2 and 3 with sndpwm
* Transaction failed (status 0x402)

As a result, notes get not played or notes get

[2022-02-23 17:50] probonopd commented on #18
Successfully tested with a HDMI PC display. Works and the lag is ok here, ymmv.

Makes me wonder whether one of those inexpensive adapters would be usable as low-cost DAC alternatives...

![image](https://user-images.githubusercontent.com/2480569/155377339-f4252ae6-e4a3-4def-8add-b3e0200e8e5a.png)

HDMI to AV Converter Composite RCA CVBS HDMI2AV Adapter (e.g., [here](https://www.ebay.de/itm/224335

[2022-02-23 17:52] probonopd opened #27 "[Idea] Use human readable format for storing sysex"
Formats like VCED and PCED are made to be machine-readable, not so much human-readable. VMEM and PMEM even more so; they were designed around memory constraints of the early 80s.

So the question is, would it be a good idea to introduce human-readable formats (e.g, "VINI" and "PINI")?

Since the `.ini` data format is widely used and natively supported in Dexed, I was thinking along these lines:

[

[2022-02-23 17:53] probonopd commented on #24
__UPDATE:__ Looks like MicroDexed already has code to handle performance sysex:
https://codeberg.org/dcoredump/MicroDexed/src/branch/master/dexed_sd.cpp#L576

It even has code for effects sysex. Are those compatible to any Japanese OEM device @dcoredump?

So we "just" need to port `dexed_sd.cpp` over to Circle?

[2022-02-23 17:58] probonopd opened #28 "[Idea] Control Voltage input"
[Over at Reddit](https://www.reddit.com/r/synthdiy/comments/syup5a/minidexed_dx7_tx816tx802_on_baremetal_raspberry_pi/), someone suggested adding CV control:

Unlike other minicontrollers or MCUs nowadays, Raspberry Pi does not have a built-in Analog-to-Digital Converter (ADC) Circuit.

So the easiest solution might be to built a CV-to-USB-MIDI (e.g., using a Pro Micro ATmega32U4) or CV-to-3.3V-Se

[2022-02-23 17:58] probonopd commented on #27
https://sourceforge.net/u/tedfelix/dx7dump/ci/master/tree/dx7dump.cpp#l15

represents a voice sysex like this:

[code]

[2022-02-23 17:59] probonopd commented on #8
Merged and built! Thanks @rsta2 :+1:

[2022-02-23 18:23] probonopd commented on #8
ASCII keyboard is working for me, including key-up.

[2022-02-23 18:24] #19 closed

[2022-02-23 18:55] dcoredump commented on #24
Yes, in fact this is what I want to do. But I think it would be better to put the code into Synth_Dexed (without the file handling code) due to it has no dependence to the used OS/uC. So it is easier to maintain errors in the code.

Wdyt?

[2022-02-23 19:00] probonopd commented on #24
Agree. Same for effects.

[2022-02-23 19:59] probonopd commented on #26
I can also produce `0x202` on the Raspberry Pi 2 on the ASCII keyboard. (fwiw, with sndhdmi)

[2022-02-23 20:02] rsta2 commented on #26
It is known, that the USB driver for the Raspberry Pi 1-3 and Zero is not perfect. The timing is critical there. I will try to reproduce this here and will see, what I can do about it.

[2022-02-23 20:32] rsta2 commented on #26
A first test to reproduce this on a Raspberry Pi 2B with PWM and a LPK25 keyboard and two different ASCII keyboards failed. I wasn't able to reproduce it. These messages are warnings, not hard errors. But of course when some MIDI events do not get to the synth because of USB transaction errors, that's a problem.

Can you please apply the following patch for a test and try again. It enables the `RE

[2022-02-23 20:52] probonopd commented on #26
@rsta2 it helps the MIDI keyboard but seems to have killed the ASCII keyboard. (Raspberry Pi 2 HDMI)

[2022-02-23 20:54] probonopd commented on #26
@rsta2 I get no more error messages) but actually I still get missed keyDowns and keyUps and it seems to have killed the ASCII keyboard. (Raspberry Pi 2 HDMI)

[2022-02-23 21:20] rsta2 commented on #26
The ASCII keyboard does not work any more? That's bad. :(

That you do not get messages any more is caused by the `REALTIME` option. It suppresses the screen output from IRQ handlers, because especially scrolling the screen from an IRQ handler kills the timing.

But if you still get missed MIDI events, the problem obviously still exists. :(

[2022-02-23 21:27] probonopd commented on #26
Interestingly I don't get missed MIDI events when using an oldschool CASIO MIDI keyboard with a selfmade Arduino based [USB MIDI Adapter](https://www.hackster.io/dennis-v/usb-midi-adapter-e6ee57).

So maybe there is something particular about some, but not all, USB MIDI devices?

[2022-02-23 21:45] rsta2 commented on #26
Seems so. Another thing, you can try, is adding the option `usbspeed=full` to the file *cmdline.txt* (on the first line, delimited by a space from the `sounddev=sndXXX` option). As I remembered now, this helped with MiniSynth Pi in some similar cases.

[2022-02-23 21:51] probonopd commented on #26
Yes! This does the trick. So cool! Thanks again @rsta2.

[2022-02-23 21:54] #26 closed

[2022-02-23 22:08] rsta2 commented on #26
I had added this to the [Troubleshooting section](https://github.com/rsta2/minisynth#troubleshooting) of the MiniSynth Pi *README*, but had forgotten it.

[2022-02-23 23:35] probonopd commented on #26
Is there a way to hardcode this in the kernel so users can't accidentally delete it?

[2022-02-24 09:18] rsta2 commented on #26
I think it's not a good idea to generally enable this option, because it's a workaround. That it works with your USB keyboard, does not mean, that this works with all USB keyboards. This has to be tried.

Also this option disables the USB high-speed mode and uses full-speed instead. This is not a problem with USB keyboards normally, because they use full-speed anyway, but if you want to attach an

[2022-02-24 17:43] probonopd commented on #8
So to print MIDI messages, add in`src/minidexed.cpp` `CMiniDexed::MIDIPacketHandler` something like `debug_hexdump ((void *) 0x0, nLength, pPacket)`?

[2022-02-24 20:24] rsta2 commented on #8
It's a little more effort, because `CMiniDexed::MIDIPacketHandler()` is called from the USB MIDI IRQ handler. Displaying a lot of MIDI messages with scrolling the screen would kill the timing. This can be solved with a write buffer, like in the attached patch. You can simply use `printf()` now, if `<stdio.h>` is included.

There is already a MIDI dump implemented in the patch. To disable it, you h

[2022-02-24 20:29] #8 closed

[2022-02-24 20:30] probonopd commented on #8
Thank you very much @rsta2

[2022-02-25 17:37] probonopd commented on #11
@dcoredump in the meantime I've been trying to add an interim solution for loading different default voices but I can load only voice 0. I must be doing a stupid C mistake, can you spot it?

https://github.com/probonopd/MiniDexed/commit/b0038a750a29ae6bfa83815cbe0227638f6f48aa

[2022-02-25 18:33] dcoredump commented on #11
Currently not much free time for me, sorry.

I think you forgot to decode the 138 bytes of voice data:

uint8_t decoded_voice[156];
dexed.decodeVoice(progmem_bank[b][v],decoded_voice);

[2022-02-25 18:46] probonopd commented on #11
Decoded them using `sysex2c.py --decode´. Voice 0 works. Must be something else?

[2022-02-25 19:16] dcoredump commented on #11
This is right, but you get 128 bytes per voice and some bytes are having more than one parameter stored. You have to decodem them before (as I wrote above).

[2022-02-25 19:27] rsta2 commented on #12
In a quick hack I tried to run four Dexed instances parallel, one on each core of a Raspberry Pi 4. This worked. I used the same method as in MiniSynth Pi to synchronize the cores. I don't know, if I should develop this further or if there are other things, which are more important now?

[2022-02-25 19:48] probonopd commented on #12
Cool @rsta2. Do you also see a way to run more than one instance on the same core? We should get a rough understanding on how much CPU % all of this is eating, but we also need to keep in mind that we'll want to do mixing and effects.

[2022-02-25 19:51] probonopd commented on #11
Thanks. Just to be sure @dcoredump. By using `--decode´  get more than 128 bytes C code. Do I have to decode them _again_ in MiniDexed? Or should I _not_ use  `--decode´ in Python and _just_ do the decoding in MiniDexed?

[2022-02-25 19:59] probonopd commented on #11
I mean, in the end we may want to load voices from `.syx` files stored on SD anyway, most likely by porting
https://codeberg.org/dcoredump/MicroDexed/src/branch/master/dexed_sd.cpp - maybe @rsta2 could help with this?

[2022-02-25 20:01] rsta2 commented on #12
Yes, of course multiple instances on one core should be possible. I could add some measurement, how long the sound rendering in `GetChunk()` takes and how many percent of the available time is currently used. Is this OK?

I will have look at #11.

[2022-02-25 20:05] dcoredump commented on #11
sysex2c.py decodes a bank sysex file into a C-Header file (with header and checksum checking).

For using the 128 bytes of a voice you need to decode it again... perhaps the wording is not the best for both steps...

See also https://codeberg.org/dcoredump/MicroDexed/src/branch/master/doc/sysex-format.txt

[2022-02-25 20:44] rsta2 commented on #11
Please apply the following patch and it should work:

[code]

[2022-02-25 21:17] probonopd commented on #11
Works! Now that you are poining it out my mistake feels so stupid. I really wonder why the compiler doesn't catch such stupid mistakes. Thanks for your help.

[2022-02-25 21:49] rsta2 commented on #11
No problem, that happens!

[2022-02-25 22:06] probonopd commented on #11
Added

https://github.com/probonopd/MiniDexed/blob/29acc02891badc4d7094c453f5f81ec2b16fe549/src/minidexed.cpp#L141-L144

to print out the patch name (in preparation for my HD44780 LCD that should come in soon) but apparently it is not correct either...

[2022-02-25 22:17] rsta2 commented on #11
Can you try `setName()` instead of `getName()`. I think it's the "reverse" naming logic after looking into the Synth_Dexed code. ;)

Also in such case for a local buffer you should use `char buf_name[11];` instead of `new`. If you use `new`, there must be a `delete` somewhere, otherwise there will be a memory leak. :(

I think it's a question of learning. If you come from Python, it may be a bit h

[2022-02-26 08:52] rsta2 commented on #12
The measurement code is ready. I tried it on a RPi 4B with PWM and one DX7 instance and I got not more then 10% usage of the available time in `GetChunk()`, which is the main workhorse at the moment. So with four cores it should be no problem to provide eight instances there. You find the patch attached. The given percent value is only precise for PWM and I2S at the moment, because HDMI uses a dif

[2022-02-26 09:32] probonopd commented on #12
OK, it seems like we will going to have different functionality depending on Raspberry Pi model.
Intensive playing of 1 instance can bring the CPU on a Raspberry Pi 1 to ~70%.
So maybe we need to distinguish functionality like this:
* Raspberry Pi 1 = DX7 like functionality, maybe with some "light" effects
* ...
* Raspberry Pi 4 = (at least?) TX802 like functionality, with full effects

[2022-02-26 09:38] probonopd commented on #11
Program Change (from the built-in ROM bank) works. Displaying the voice name works.
Next up, loading `.syx`. Let's think about how we want to organize them on the SD card. Something like this?

[code]

[2022-02-26 09:55] rsta2 commented on #11
I would prefer the first suggestion. I think it's better to have all banks in one directory. Otherwise you have a lot to do to move banks from one to another directory all the time maybe. I can implement it, if you agree. If we need the other variant some day, this could be changed.

[2022-02-26 10:05] probonopd commented on #11
Agree. Whatever is simpler. We can always make it more complex if needed later on.

[2022-02-26 10:09] rsta2 commented on #11
OK, I will work on this.

[2022-02-26 15:43] probonopd commented on #21
A 2.2k resistor between the contrast pin (V0) and GND does the job for me. (Without this I don't see anything, just shorting it out makes the text appear but is too dark.)

[2022-02-26 15:58] rsta2 commented on #11
Here comes a solution for accessing voices from DX7 `.syx` files from the SD card in the */sysex/voice* directory. It's the first suggested naming for the `.syx` files, but everything as follows should work:

[code]

All files will be loaded on system start into memory. This is necessary, because the MIDI packet handler is an IRQ callback and file access is not possible there, when a program chang

[2022-02-26 17:16] probonopd commented on #11
The current behavior is like this:

* Asking the keyboard to send Bank Change LSB 1 results in MIDI message `B0 20 01` and results in `Select voice bank 1`.
* Then, asking the keyboard to send Program Change 1 results in MIDI message `C0 01` and results in "Loading voice 1" "BRASS 1`. Which in my case is stored in `000001_rom1a.syx`.

Working nicely +1:

The manual of my keyboard is somewhat vague

[2022-02-26 19:12] rsta2 commented on #21
Patch for the 44780 branch attached. The display library must be build separately and added to *src/Rules.mk*. `make -j` is better than `make -j$(nproc)`. Don't ask me why, but it works quicker here.

[build.zip](https://github.com/probonopd/MiniDexed/files/8147333/build.zip)

[2022-02-26 19:27] rsta2 commented on #11
See [this](https://usa.yamaha.com/files/download/other_assets/9/333979/DX7E1.pdf) (page 32, "Program change & Channel number"):

[code]

"INT" must be internal ROM, "CRT" cartridge. This DX7 version does not have bank select.

[2022-02-26 19:44] probonopd commented on #11
Maybe our MIDI message handling should be oriented at (a subset of) TX802 which is more modern?

[2022-02-26 19:48] rsta2 commented on #21
I would add the `CHD44780Device m_LCD;` member to the class `CMiniDexed`, not to `CKernel`. You also have to move the initializer in the constructor and the call to `m_LCD.Initialize()` to `CMiniDexed`. Then you can call `s_pThis->m_LCD.Write()` in `MIDIPacketHandler()`.

[2022-02-26 19:58] probonopd commented on #21
Makes sense to me. Will do. Thanks!

[2022-02-26 21:03] rsta2 commented on #21
The method `LCDWrite()` is declared in *minidexed.h*, but not implemented in *minidexed.cpp*:

[code]

Did I forget to mention this? Sorry.

[2022-02-26 22:20] #21 closed

[2022-02-27 12:34] probonopd commented on #11
Looks like MIDI messages need to go from 0-127 (0x00-0x7f) (even though this is often displayed to the user as 1-128).

Apparently it is documented misleading even in official MIDI documentation:

https://www.midi.org/forum/3810-midi-tuning-program-change-and-bank-change-messages-really-one-based,-not-zero-based#reply-3811

Someone pointed out that "the spec is not incorrect" but it is _misleading

[2022-02-27 13:23] rsta2 commented on #11
Yes, I fully agree. I had a look into the Rosegarden open source sequencer and in its MIDI settings, one can configure 0-127 separately for LSB and MSB for each used bank. For the program number there is a button, with which you can switch the numbering between 1-128 and 0-127. This is a help for the user, but in MIDI transfers the range is always 0-127. I think that's the same as you found out.

[2022-02-27 13:33] probonopd commented on #11
Does this look approximately right?
https://github.com/probonopd/MiniDexed/pull/32/commits/24cd4bd5601e07de80bf431fe5ee987f87f4f50a

[2022-02-27 13:44] rsta2 commented on #11
Two things to improve: The test in *minidexed.cpp* in `MIDIPacketHandler()` must be `>= 128` and `>= 32`, not `> 128` and `> 32`, otherwise the 128 and 32 are still allowed. And in [sysexfileloader.cpp](https://github.com/probonopd/MiniDexed/blob/main/src/sysexfileloader.cpp#L76) the if-statement must be `if (nBank > MaxVoiceBankID)` now.

[2022-02-27 18:46] probonopd commented on #11
Currently a MIDI Bank Select message alone does nothing, only after a MIDI Program Change message it has any impact.

So: When receiving a MIDI Bank Change, should we load the same voice number from the new bank automatically? What are real MIDI instruments (e.g., MODX) doing in this case?

[2022-02-27 19:00] probonopd commented on #24
[TX802_Factory_Performances.syx](https://github.com/weekend-at-bernies/sysex_utils/blob/master/patches/yamaha_TX802/TX802_Factory_Performances.syx) is available on GitHub.

	TX802.  There are 54 performances.  The remander of them
	are the "Init" performance with the name removed for
	better esthetic value. These were programmed buy hand and
	tripple checked against the original performance lists

[2022-02-27 19:24] probonopd commented on #12
Did some performance testing above. @dcoredump @rsta2 what do you think about how we should best make use of the 4 cores?

[2022-02-27 19:29] probonopd opened #33 "Optimize CHUNK_SIZE [ _HDMI ] parameter"
@rsta2 [wrote](https://github.com/probonopd/MiniDexed/issues/12#issuecomment-1051853664)

Can I help this tuning by testing on various Raspberry Pi models? I have Zero, 1, 2, 3, 4.
How exactly would one tune/test this?

[2022-02-27 19:30] probonopd commented on #21
I noticed that adding a display to the Raspberry Pi 1 adds significant noise to PWM sound output.
It is not as bad on e.g., the Raspberry Pi 2.

Maybe adding a capacitor somewhere could help improve this a bit?

[2022-02-28 08:21] rsta2 commented on #33
Yes, please do. You can just set the chunk size [here](https://github.com/probonopd/MiniDexed/blob/main/src/minidexed.h#L24) and try, if the audio signal is clean with it (no drops). I would try 256 first for `CHUNK_SIZE` and 384 for `CHUNK_SIZE_HDMI`. If there are drops then increase to 512, 1024 and (384x2), (384x4) for HDMI. The `CHUNK_SIZE` must be a multiple of 2, for `CHUNK_SIZE_HDMI` a mult

[2022-02-28 08:50] rsta2 commented on #12
I would do the following for 8 Dexed instances (2 per CPU core):

* Use an array of synchronization variables (enum, one for each secondary core 1-3) which can have the values *init, idle, busy, exit*.

* A secondary core normally waits in a loop continuously reading its synchronization variable to change from idle to busy. When this happens it calls `Dexed::getSamples()` twice (for 2 Dexed instan

[2022-02-28 17:39] probonopd commented on #33
These are the smallest values that work for me. Luckily they work across all models tested.

|Model|`CHUNK_SIZE`|`CHUNK_SIZE_HDMI`|
|---|---|---|
|Zero|no headphone jack|384 * 5 (seems to work but seeing `GetChunk:... 524%`)|
|1|2 * 64|384 * 5 (seems to work but seeing `GetChunk:... 524%`)|
|2| |384 * 5 (seems to work but seeing `GetChunk:... 174%`)|
|3|2 * 64|384 * 5 (seems to work but seeing `Ge

[2022-02-28 17:44] probonopd commented on #12
I think some of my earlier tests were done with `sndhdmi` by mistake. Repeated with `sndpwm`, looking better:

* Raspberry Pi 1 up to ~50% [maybe with a little overclocking we can do 2 instances like on the famous DX1... although the PWM output on this model is especially bad]
* Raspberry Pi 2 up to ~26%
* Raspberry Pi 3 up to ~23%
* Raspberry Pi 4 up to ~10%

[2022-02-28 17:49] probonopd opened #35 "Support more than one MIDI device"
Currently only one MIDI USB device is being used. `minidexed.cpp` has

[code]

What would we need to do if we wanted to support more than one USB MIDI device?
Use cases might include
* USB MIDI foot controllers
* USB MIDI sequencers
* Multiple keyboards
etc.

[2022-02-28 17:51] probonopd opened #36 "Optmize config.txt settings"
Should we do the following by default?

[code]

[2022-02-28 18:42] probonopd commented on #33
Possibly this needs to be retested using different voices.

It seems like some voices are fine (e.g., BRASS 1) while others are "destroyed" now (e.g., BRASS 2). Maybe depending on which Alogrithm a voice uses the outcome is different?

[2022-02-28 20:05] rsta2 commented on #12
Yes, but the worst case counts. If we want to support HDMI, it must also work there, or we provide a special configuration for HDMI.

I have to note, that we are currently running are normal bare metal speed (600 or 700 MHz) only. See the table [here](https://circle-rpi.readthedocs.io/en/44.3/basic-system-services/cpu-clock-rate-management.html) for the maximum clock rates of the different models.

[2022-02-28 20:11] rsta2 commented on #36
The settings for the RPi 4 are not necessary. It already runs at 600 Mhz. I wouldn't reduce that more. I'm generally not a friend of over- or under-clocking. It may work with one firmware, but not with the next. So you have to test everything carefully on any model to be sure. I don't think, this is worth the effort. Reducing the boot time makes sense.

[2022-02-28 20:19] rsta2 commented on #33
These values are interesting. Yes, this will probably depend on the used voice and maybe can change with modifications in MiniDexed. So I wouldn't use the absolute minimum to have some margin. Say 256 and 384\*6 for HDMI could be reasonable. Yes, the percent value for HDMI is not valid yet. This is known.

[2022-02-28 20:40] rsta2 commented on #35
Yes, that should be possible, at least for the RPi 4. Because of the USB problems on the RPi 1-3 we had, I'm not sure there. But the whole MIDI input code needs some rework. This enhancement could be implemented together with this. I noticed several problems:

* The serial MIDI handler may be interrupted, when in `keyup()` or `keydown()` by `GetChunk()`. Needs to be synchronized.

* Program change

[2022-03-01 07:47] probonopd commented on #35
Well, since rsta2/circle and asb2m10/dexed are licensed under the GNU General Public License v3.0 that is our only option, or isn't it? Maybe also the Apache Software License, version 2.0] as the FSF states it as [compatible](https://gplv3.fsf.org/wiki/index.php/Compatible_licenses#GPLv3-compatible_licenses).

[2022-03-01 07:48] probonopd commented on #35
Definitely agree, but unfortunately I won't be of much help there. It would be great if you could have a go at restructuring.

[2022-03-01 07:57] probonopd commented on #12
Sure. I was just wondering whether the measurements for HDMI are currently accurate at all.

[2022-03-01 09:38] rsta2 commented on #35
Good, I have the same opinion.

No problem, I will start to work on this.

[2022-03-01 09:40] rsta2 commented on #12
The measured times for HDMI are correct, but not the percent value. I will fix this with restructuring the code.

[2022-03-04 06:43] rsta2 commented on #7
@dcoredump are you still working on this? It would be great to have a solution here!

[2022-03-04 15:44] dcoredump commented on #7
Sorry, I am currently ill and don't have time to code...

There are several solutions for this (sorted by implementation effort):

1. Scale down the calculated values inside `CMiniDexedPWM::GetChunk()`
2. Use `m_pDexed->setGain(0.8);` to scale down inside `Synth_Dexed`
3. The real DX7 has a kind of compressor after adding all voices (someone told me that). But adding a good compressor needs some C

[2022-03-04 20:26] rsta2 commented on #7
Ah OK. Thank you for explaining this! I tried the suggested solutions with these results:

1. I simply divided the samples by 2 before writing them to the chunk buffer. Unfortunately this did not work. I guess some samples returned by `Dexed::getSamples()` where already greater than 1.0 or smaller than -1.0, before converting them to `int32_t` values.
2. Does work with `setGain(0.4)`, 0.5 is alrea

[2022-03-04 23:49] probonopd commented on #7
Get well soon @dcoredump.

https://www.righto.com/search/label/dx7 by mastermind Ken Shirriff is a fascinating read if you _really_ want to know what is going on in a DX7. Looks like they did some interesting trickery in the output circuitry to work around of the hardware limitations at the time. I don't think we need to do everything in the exact same way as it was done ~40 years ago, but maybe t

[2022-03-05 06:24] rsta2 commented on #7
Thanks @probonopd for mentioning this! I didn't know, that the DX7 only had a 12 (+2) bit DAC. So we are already a bit (no 2 bits) better with 16 bit. :)

A dynamic range compressor can also be necessary after mixing 8 DX instances together, when we have reached that. I found this interesting [paper](https://www.eecs.qmul.ac.uk/~josh/documents/2012/GiannoulisMassbergReiss-dynamicrangecompression-J

[2022-03-05 06:31] rsta2 opened #38 "GPIO pinout for external devices"
As suggested in https://github.com/rsta2/circle/issues/280 I investigated the GPIO pinout of the (already known) external devices, which can be connected to a Raspberry Pi, when using MiniDexed and generated a list as a suggestion (see attached).

Two comments:

* The default setting for the LCD outputs RS and RW has changed. Would need to be updated in *config.cpp* and *minidexed.ini*.

* We shou

[2022-03-05 12:45] dcoredump commented on #7
Maybe [this](https://github.com/chipaudette/OpenAudio_ArduinoLibrary) is a useful implementation for a DRC.

[2022-03-05 15:38] rsta2 commented on #7
Looks like it would require some effort to port this. Unfortunately I'm not familiar with audio processing on Arduino(-like) architectures. From my point of view it would be great to have everything, which does sophisticated audio processing (e.g. the synth, effects) in a class in the Synth_Dexed project to be used from MiniDexed. I don't know, if this is possible.

I tried this simple addition to

[2022-03-06 02:06] hizzlekizzle opened #39 "Freezing a few seconds after boot"
I'm using an RPi 3 (FAT32) with a USB MIDI controller, but it seems to freeze after about 5-10 seconds whether the controller is plugged in or not. It sounds great right up until then, though :)

Is there any way to do diagnostics/logging?

As an aside, I'm really happy to see someone working on this. I've been checking around for exactly this (headless dexed on RPi) every few months and was going

[2022-03-06 09:47] probonopd commented on #39
Thanks @hizzlekizzle. Just to be sure: You do get sound using a USB MIDI controller, but then after a few seconds you get no more sound? Which output are you using for sound, the headphone jack? If you attach the RPI to a HDMI display, you should see some debug output. Can you see something there?

[2022-03-06 15:01] hizzlekizzle commented on #39
Yes, PWM/headphone jack and I do get sound until it freezes, at which point it just buzzes with whatever was the last sample (that is, it's not the full multi-wave tone, just a single wave).

Ah, I didn't think about HDMI output! Unfortunately, I don't see any obvious errors:

[code]

To be clear, it doesn't print any new messages to the screen before/during the freeze.

I did see a pair of except

[2022-03-06 16:22] rsta2 commented on #39
@hizzlekizzle Can you please replace the file *kernel8.img* on your SD card with the file extracted from the attached .zip file and run again. This should result in additional messages, which may help to solve the problem. If so, please post these messages.

[kernel8.zip](https://github.com/probonopd/MiniDexed/files/8192993/kernel8.zip)

[2022-03-06 17:00] hizzlekizzle commented on #39
Oh thanks! Now we're getting somewhere :)

I get a bunch of:

`00:00:05.XX dwhci: Transaction failed (status 0x202)`

followed by a few slight variations on:

[code]

followed by:

[code]

and then in red:

`00:00:11.22 dwhcixferstagedata.cpp(224): assertion failed: nPacketsTransferred <= m_nPackets`

[2022-03-06 17:42] probonopd commented on #38
By uncommenting it like below, or is there a better way?

[code]

[2022-03-06 18:13] probonopd commented on #7
Is this effectively a limiter?

[2022-03-06 19:40] rsta2 commented on #38
It can be defined in *build.sh* in the same way as `REALTIME` and `SAVE_VFP_REGS_ON_IRQ`. With this the option is globally enabled and the file *sysconfig.h* does not need to be manipulated.

[2022-03-06 19:52] rsta2 commented on #7
I don't know the exact terminology of "limiter", but I would think so. The problem seems to be, that some samples exceed the available 16 bit range and without this code, the value "wraps". This means a sample of 40000, which is greater than the maximum of 32767, will be written as -25536 in the end. It's better to use the maximum of 32767 in this case. Testing this, it sounds much better than in

[2022-03-06 20:00] rsta2 commented on #39
Thanks for testing! Do you have the file *cmdline.txt* with the contents `usbspeed=full` on your SD card? If not, please create one. If so, please rename it to something else for another test. I will explain later, what happens here.

[2022-03-06 21:01] #38 closed

[2022-03-06 21:14] #36 closed

[2022-03-06 21:15] probonopd commented on #38
Thanks @rsta2, implemented your suggestions. i2c may prove useful indeed as we may be running low on pins.

[2022-03-06 21:25] probonopd commented on #35
Closed by https://github.com/probonopd/MiniDexed/pull/37:

Thanks @rsta2

[2022-03-06 21:25] #35 closed

[2022-03-06 21:39] probonopd commented on #7
@rsta2 this is definitely an improvement. But in some cases one still can hear that clipping is going on, which can probably be resolved by [reducing volume](https://github.com/probonopd/MiniDexed/issues/9).
To reproduce, load the default voice "BRASS 1" and press 8 white keys simultaneously starting from middle C.

[2022-03-06 21:40] probonopd commented on #9
The volume MIDI messages are `B0 07 00` (knob all the way left) to `B0 07 7F` (knob all the way right).

[2022-03-06 21:40] #7 closed

[2022-03-06 21:46] probonopd commented on #22
https://github.com/rsta2/circle/issues/280#issuecomment-1059516929

Great! Please do send a PR or patch for MiniDexed for this code. Thanks @rsta2.

[2022-03-06 22:51] rsta2 commented on #7
Yes, I can hear the distortion now, but not as bad as before. And yes, we need to provide a method to change the volume, via MIDI and/or in the UI.

[2022-03-06 22:53] hizzlekizzle commented on #39
Ok, I did have a cmdline.txt with `usbspeed=full` and renaming it got rid of the freezing! I was still getting a lot of crackling with the debug kernel but going back to the original kernel got rid of that, too, so I think I'm all set!

Is there anything else you would like me to test while I'm here, or shall I close this one out?

[2022-03-06 22:55] rsta2 commented on #22
OK, I will do tomorrow.

[2022-03-06 23:15] rsta2 commented on #39
Great! Thanks for testing!

I think, this problem was device related. I don't know exactly, what happens, but I can only guess the your keyboard controller sends more data on an USB IN request, than the USB driver expected. This does normally not happen and triggers the failed assertion. I found some forum articles on the net, which state, that the M-Audio KeyRig 49 (which should have a similar fi

[2022-03-07 19:19] probonopd commented on #39
@hizzlekizzle which model is your `Product: M-Audio USB 02` MIDI controller? I am asking because for my M-AUDIO Keystation Mini 32 Mk3 I seem to need `usbspeed=full`. I am wondering whether the M-AUDIO stuff is so buggy or whether something else is going on.

@rsta2 would it be possible to have a fallback that would attach (for the lack of a better word) a USB device with `usbspeed=full` automatic

[2022-03-07 20:09] rsta2 commented on #39
@probonopd The option `usbspeed=full` forces the whole USB bus to full speed (12 Mbps). The default on the RPi 1-3 and Zero is high speed (480 Mbps). What happens, when one USB device is already attached and works all-right with high speed and then a second device is attached, which needs full speed? It is not possible to bring down the whole USB thing then to enable it with full speed. No, this o

[2022-03-07 21:51] rsta2 commented on #39
@probonopd We could try one thing to solve this problem. Currently we use `GetChunk()`, which is called from an IRQ handler, to calculate and provide the audio samples. This has the effect, that other interrupts (for instance from the USB) cannot be handled, while the synth engine is running, which is relatively long.

There is an other method to do the audio processing outside from an IRQ handler

[2022-03-08 04:53] hizzlekizzle commented on #39
@probonopd it's this crummy little guy, the O2: https://www.soundonsound.com/reviews/m-audio-o2

[2022-03-08 18:17] probonopd commented on #38
Looking at the pinout in more detail, I have the following questions:
* Many of the required pins (for rotary encoder, DAC, and LCD) are not on the Raspberry Pi 1
* Can we come up with a configuration that sacrifices less than 3 peripherals on the Pi 1? E.g., by moving LCD RW OUT from GPIO16 to GPIO4 we could have the LCD on Pi 1
* It looks like the pins  GPIO28-31 are on the header P5 on the Rasp

[2022-03-08 18:18] probonopd commented on #39
Let's both test [mt32-pi](https://github.com/dwhinham/mt32-pi) and see whether it works properly with our USB controllers out of the box...

[2022-03-08 19:58] rsta2 commented on #38
Good point. I think we can define a pinout, which works on any RPi model, especially when we do not need SPI. Answering your questions:

* Actually the LCD RW pin is not required at all. You can wire the RW pin from the LCD fixed to GND. The Circle LCD driver is not reading from the display, so it is not necessary to switch this pin from software. So the LCD can be used on RPi 1 already.
* The GPI

[2022-03-09 01:45] hizzlekizzle commented on #39
I just tried mt32-pi with my O2 and it worked out of the box, yes.

[2022-03-09 06:51] rsta2 commented on #38
Another idea: If SPI would be an alternative interface for displays, we could easily use the SPI GPIO pins for the (currently supported) HD44780 LCD display, because both are options for the same purpose and only one display is needed.

[2022-03-09 22:05] rsta2 commented on #38
But if we want to have a CV input using a [MCP3004/3008](https://ww1.microchip.com/downloads/en/DeviceDoc/21295d.pdf) ADC, we also need to have the SPI interface.

There are also differences between Rev 1 and Rev 2 PCBs of the Raspberry Pi 1 Model A and B:

https://elinux.org/RPi_Low-level_peripherals#P1_Header

[2022-03-11 04:42] hizzlekizzle commented on #39
I just applied the patch and built for RPI3/32-bit and it seems to be running just fine without any freezing here.

[2022-03-11 07:11] rsta2 commented on #39
@hizzlekizzle Good to know. Thanks for testing!

[2022-03-11 18:09] probonopd commented on #39
Ouch. Looks like the latest continuous build containing this patch does not work at all for me. I get USB "Function not supported" messages, the LCD does not show any messages.

Will revert it for now.

[2022-03-11 18:27] rsta2 commented on #39
Oops. On which RPi model have you tested this?

[2022-03-11 18:27] probonopd commented on #39
RPi 2.

[2022-03-11 18:30] rsta2 commented on #39
OK, I will check this. I tested only on the RPi 4B with multi-core and on RPi 1 without. It was working there.

[2022-03-11 18:42] rsta2 commented on #39
I can reproduce the problem on the RPi 2B. I have to find the reason. Will take some time.

[2022-03-11 18:43] probonopd commented on #39
Thanks for looking into it; no hurries!

[2022-03-11 18:54] rsta2 commented on #39
Thanks for info. How is looks like, this is a problem in the multi-core initialization with 32-bit only.

[2022-03-11 20:12] rsta2 commented on #39
I have found the problem. It's in the 32-bit multi-core initialization in Circle. The data cache has to be cleaned, before the secondary CPU cores can be started. Because of some bad luck this did not show up until now. I will prepare a hotfix for Circle.

[2022-03-12 07:17] rsta2 commented on #39
@probonopd The multi-core initialization problem is solved, but unfortunately there is another issue: The function `opendir()` hangs, when called on RPi 2B or 3B in 32-bit mode with ARM_ALLOW_MULTI_CORE enabled. This function is used in `CSysExFileLoader::Load()`. As far as I was able to track this down, this is caused by somebody overwriting the lock variable of a spin lock in the circle-newlib p

[2022-03-12 20:53] probonopd commented on #39
Looks like this project is stress-testing Circle? ;-) No hurry. Your help is tremendous!

[2022-03-12 21:42] rsta2 commented on #39
Thank you! :) Yes, but this is one reason, why I'm trying to help to improve MiniDexed. Because I learned, that you need the feedback from developing real applications, to be able to improve projects like circle-stdlib and circle. This helps a lot.

Both reported problems have been catched, and there is a new hotfix release 44.4.1 already, which solves the multi-core problem. I don't know, when @s

[2022-03-13 10:57] probonopd opened #43 "Supporting RTP-MIDI"
I imagine this could be quite useful to, e.g., send sysex from a computer to the Raspberry Pi and to have the Raspberry Pi driven by sequencers on a computer, phone, or tablet, especially since USB gadget mode is not available on Circle (although a Raspberry Pi PIco could probably be used to act as a USB MIDI to serial converter).

The [AppleMIDI library](https://github.com/lathoub/Arduino-AppleMi

[2022-03-13 11:12] probonopd commented on #43
Guess who has had this idea before! @rsta2:
https://github.com/rsta2/pico/tree/main/midi_adapter

[2022-03-13 11:46] probonopd commented on #35
I have successfully tested using 2 USB MIDI devices at the same time:
* A Raspberry Pi Zero running CircuitPython and a script t that plays MIDI notes
* A real MIDI keyboard
Both are playing nicely together.

[2022-03-13 18:42] rsta2 commented on #43
If someone wants to try it, I can provide an .uf2 file of midi_adapter for the Pico.

[2022-03-13 18:59] probonopd commented on #43
Me! :)

[2022-03-13 19:12] rsta2 commented on #43
OK, here it is:

[midi_adapter.uf2.zip](https://github.com/probonopd/MiniDexed/files/8240422/midi_adapter.uf2.zip)

[2022-03-13 19:20] probonopd commented on #11
I didn't find this exact information in DX documentation but the "MX49/MX61 Data List" PDF says:

So it seems like we should _not_ load the patch from the new bank immerdiately after a Bank Select not followed by a Program Change message.

@rsta2 you are already doing this for the rotary encoder and it seems like we should be doing the same for MIDI Bank Select and Program Change messages.

[2022-03-13 19:21] #11 closed

[2022-03-13 19:24] probonopd opened #45 "Ignore Bank Select and Program Change numbers that are not supported"
I didn't find this exact information in DX documentation but the "MX49/MX61 Data List" PDF says:

@rsta2 you are already doing this for the rotary encoder and it seems like we should be doing the same for MIDI Bank Select and Program Change messages.

[2022-03-13 19:33] rsta2 commented on #45
We do. Program Change messages are allowed for programs 0..31 (1..32 for the user) and Bank Selects from banks 0..127 (1..128 for the user). All other messages will be ignored. Bank Select MSB will be totally ignored at the moment.

[2022-03-13 19:37] probonopd commented on #45
My bad. Made a mistake in testing. The "Take off" preset had me tricked - it is so silent in the beginning that I thought I was hearing nothing when Iin fact it was working.

[2022-03-13 19:37] #45 closed

[2022-03-13 19:58] rsta2 commented on #45
No problem.

[2022-03-13 21:02] #33 closed

[2022-03-13 21:05] probonopd commented on #9
Likewise, `B0 01 ...` for modulation and `E0 00 ...` for Pitch Bend.

[2022-03-14 15:06] rsta2 commented on #9
I was so bold and implemented the volume control (using MIDI CC and via the UI) already in #47. ;) I also tried modulation (using `Dexed::setModWheel()`) and pitch bend (using `setPitchbend()`), but this didn't work. Or I wasn't able to "move the wheel" quick enough, because I can only simulate the MIDI messages by sending hex bytes manually. I also don't know, if it depends on the loaded voice, i

[2022-03-14 17:51] dcoredump commented on #9
ModWheel depends on the routing of the voices. Some voices don't have a target for the ModWheel.

Yes, Pitchbend is 14 bit (LSB, MSB)!

[2022-03-14 18:21] probonopd commented on #9
To be precise, `E0 00 40` (normal pitch wirthout bending) all the way down to `E0 00 00` and all the way up to `E0 7F 7F`.

[2022-03-14 18:48] rsta2 commented on #9
@dcoredump Ah OK, I probably used a voice, which don't use the ModWheel. Thanks for info.

@probonopd This is something, I did wonder about today. When the zero pitch bend level is 0x4000 (I have seen this value too in some doc), then you have to subtract 0x4000 from the value before calling `Dexed::setPitchbend()`. But inside this function, it adds 0x2000 only to get back to the 0..16383 range. I

[2022-03-14 19:08] probonopd commented on #9
Does https://sites.uci.edu/camp2014/2014/04/30/managing-midi-pitchbend-messages/ help?

[2022-03-15 06:57] rsta2 opened #48 "Notes get stuck while quickly playing with USB MIDI keyboard controller"
I open this separate issue, because we will probably have to deal with this problem for a while.

### Problem description

When quickly playing on an USB MIDI keyboard controller, connected to a Raspberry Pi 1-3 or Zero (Raspberry Pi 4 is not affected), notes can get stuck, i.e. the respective tone is played forever, even after releasing the key. This can be reproduced with continuous voices (e.g.

[2022-03-15 07:00] rsta2 commented on #48
There is a kernel image for the Raspberry Pi 2 attached, which is based on a quick hack. It does use the FIQ (Fast Interrupt Request) for the USB driver. It has a higher priority then the normal IRQ and using the FIQ may result in a more precise timing on the USB. The DWHCI USB controller of the Raspberry Pi 1-3 and Zero requires 8000 interrupts per second (one per microframe) for an accurate timi

[2022-03-15 07:40] rsta2 commented on #9
Here is a patch, which should implement Pitch Bend and Modulation CC. Unfortunately I do not have such controls, so I cannot test it.

[pitch-bend-modulation.zip](https://github.com/probonopd/MiniDexed/files/8251099/pitch-bend-modulation.zip)

[2022-03-15 18:06] probonopd commented on #48
Thanks @rsta2, using `kernel7.zip` I can still get stuck notes with and without `fast=true`.
I also get them by e.g., pressing 4 keys at the same time repeatedly for some time.

Cannot seem to reproduce this using my Raspberry Pi Pico tester.

Could it be something else` Maybe the M-AUDIO Keystation Mini 32 Mk3 is errorously sending the same key down message more than once (insufficient debouncing

[2022-03-15 18:31] probonopd commented on #9
Thanks @rsta2, unfortunately it does not seem to have any audible effect.
@dcoredump can you reproduce this?

[2022-03-15 19:49] rsta2 commented on #9
@probonopd This was also my impression, when trying to fake a Pitch Bend and modulation by sending the MIDI bytes manually with a tool. I tried several voices. But I thought, that you need a real controller to test this.

[2022-03-15 20:24] rsta2 commented on #10
Here is a small patch to implement MIDI CC Sustain (Damper). The behavior is different from the damper pedal of my Yamaha home keyboard. When you release the sustain button, the note does not go off. You have to press the key again, to switch it off. This is managed by Synth_Dexed. @dcoredump I don't know, if it is intended?

[sustain.zip](https://github.com/probonopd/MiniDexed/files/8256855/susta

[2022-03-15 20:56] rsta2 commented on #48
@probonopd With this patch, you can redirect all screen output to the serial interface at GPIO14 at 115200 Bps 8-N-1. The screen is not initialized with this. Serial MIDI does not work, of course.

[serial-monitor.zip](https://github.com/probonopd/MiniDexed/files/8257015/serial-monitor.zip)

[2022-03-16 12:30] dcoredump commented on #9
Sorry, but I have no equipment which can send MIDI-CC right here - my master keyboard is in the rehearsal room...

[2022-03-16 20:59] rsta2 commented on #9
I was looking around in Synth_Dexed, and now Pitch Bend and Modulation does work (e.g. with the "BRASS 1" voice), when you apply the attached patch to the version from the *pb-mod* branch. There are two major things to do, that it works:

* The controllers must be configured using `Dexed::setPBController (range, step)` and `Dexed::setMWController (range, assign, mode)`. Pitch Bend range and step c

[2022-03-17 17:52] probonopd commented on #10
On my M-AUDIO Keystation Mini 32 Mk3 a LED goes on when I press the sustain key (sending `B0 40 7F`), and the LED goes off when I press the same key again (sending `B0 40 00`).

So I think it is correct as it is implemented: A sustain button works differently from a sustain pedal.

[2022-03-17 18:01] probonopd commented on #10
Pressing the sustain key works.

But pressing it again, the already sustained notes keep playing forever. This is not like it should be.

[2022-03-17 19:09] rsta2 commented on #10
The sustain code in Dexed is [here](https://github.com/asb2m10/dexed/blob/master/Source/PluginProcessor.cpp#L386). I think line 386-393 have to be added to `Dexed::setSustain()` in Synth_Dexed. This will trigger the `keyup()` events automatically, when the sustain button/pedal is released.

[2022-03-17 20:47] rsta2 commented on #10
Here is a patch for Synth_Dexed, which enables the full sustain support:

[code]

It's tested, it works.

[2022-03-17 21:06] rsta2 commented on #9
I installed Dexed on Windows. These controllers are switched off by default there. I guess we have to find out a setup by our self here. In the [TX802 Manual](https://usa.yamaha.com/support/manuals/index.html?l=en&c=music_production&k=tx802) on page 22 there is the description for the Pitch Bend parameters, on page 23 for Mod wheel.

[2022-03-17 21:16] rsta2 commented on #48
I'm working on the FIQ support for the USB driver of Raspberry Pi 1-3 and Zero. I guess there is still room for timing improvement. But this will take longer and requires many tests.

@probonopd For now I would like to know, if there is something I could do for MiniDexed (e.g. support multiple Dexed instances, or "EDIT VOICE" menu in the LCD/Rotary Encoder UI)?

[2022-03-18 07:12] probonopd commented on #10
@dcoredump could you add it please? Thanks.

[2022-03-18 07:19] probonopd commented on #48
@rsta2 multiple Dexed instances would be tremendous. Eventually this could lead to support for TX816/TX802 style Performance sysex.

Voice editing via the LCD/Rotary Encoder UI would also be nice, but I think we should focus on multiple instances first.

[2022-03-18 08:40] rsta2 commented on #48
@probonopd OK, I will work on supporting multiple Dexed instances now. Yes, Performance sysex should be loadable in the end, but for now I will use an .ini file to configure the different instances.

[2022-03-18 13:43] dcoredump commented on #10
It's fixed now in `https://codeberg.org/dcoredump/Synth_Dexed`

Thanks @rsta2!

[2022-03-18 20:14] #10 closed

[2022-03-19 18:46] probonopd commented on #12
Thanks @rsta2 for having implemented multiple Dexed instances.

[2022-03-19 18:46] #12 closed

[2022-03-20 20:31] #22 closed

[2022-03-20 20:32] #13 closed

[2022-03-20 20:34] probonopd commented on #20
Note to self: Retest this, then close.

[2022-03-21 18:06] probonopd commented on #48
Here is one more way that I can get stuck notes:

* RPi 2, HDMI
* Keystation Mini 32 MK3
* `usbspeed=full` in `cmdline.txt`
* Set up 5 TG
** TG 1: normal
** TG 2: OMNI, detune 7, stereo shift halfway to R
** TG 3: OMNI, detune -7, stereo shift halfway to L
** TG 4: OMNI, detune 15, stereo shift all the way to R
** TG 5: OMNI, detune -15, stereo shift all the way to L
* Play 6 notes and keep holdin

[2022-03-21 18:26] probonopd commented on #15
@dcoredump now that we have multi-core and multiple Dexed instances (tone generators), how would one best go about adding reverb?

[2022-03-21 18:32] probonopd commented on #20
@rsta2 are you saying we have bidirectional serial MIDI even?

[2022-03-21 18:34] probonopd opened #53 "Center setting for stereo"
Right now "center" seems to be 9th dot from the left = 8th from the right?

For me it would feel more natural to have a center ("middle") position for stereo panning, with the same number of dots left and right from the selected setting (maybe even marked with ":" instead of "." to make it easy to spot).

Wdyt @rsta2?

[2022-03-21 18:36] probonopd commented on #39
@hizzlekizzle does the latest build work for you? If yes, then I think we can close this issue. Thanks!

[2022-03-21 19:03] rsta2 commented on #48
I think we should not concentrate on the RPi 2 too much. Unfortunately I guess, it's too slow, at least without `fast=true`. I'm still trying to find a concept for improving the USB driver with using the FIQ. My first approach seemed to work first, but now I was running into problems. It will take longer. I know, that the problem is there, but I do not have a solution at the moment.

[2022-03-21 19:05] rsta2 commented on #20
The UART driver is bidirectional, but it is currently not used in TX direction.

[2022-03-21 20:00] rsta2 commented on #53
This patch changes the behavior as wanted:

[code]

[2022-03-21 22:05] #53 closed

[2022-03-22 00:38] hizzlekizzle commented on #39
I'm afraid it still crashes for me unless I remove the usbspeed=full :(

Perhaps there was something screwy with my self-compile that gave me a false-positive on the fix?

[2022-03-22 06:28] rsta2 commented on #39
@hizzlekizzle Yes, you have to remove the `usbspeed=full` in any way! There will be a fix in the next Circle release, so that it will not crash when this option is there. But it won't work with your USB keyboard controller with `usbspeed=full`. It seems to be a high-speed (only) device.

[2022-03-23 17:50] dcoredump commented on #15
Sorry for answering late...

The Teensy effects can be adapted for using inside MiniDexed. I am doing this currently for a compressor inside Synth_Dexed (dev branch).

The effect_platervb in the third-party folder could be used as reverb effects. I can try this after finishing the compressor - but ist will take a while...

[2022-03-23 18:24] rsta2 commented on #24
I had a look at the sysex performance file format and extended the class `CSysExFileLoader` respectively. Up to 32 files can be loaded from */sysex/performance*. The filenames have the same format as used for voice banks. There is a method `GetPerformance()`, which returns the data for one performance in the `PMEM` format:

[code]

Currently the meaning of the parameters VCHOFS (voice channel offs

[2022-03-24 17:31] probonopd commented on #24
Here are first spontaneous thoughts. Will need to think more about this.

Looking at page 14+ of the TX802 user manual, I am not sure whether Dexed supports everything that the TX802 supports. Also, I don't find a description of "voice channel offset", "tuning", and "key assign group" in the user manual. In this case, shall we just leave the such parameters in performance sysex as "ignored"/unimpl

[2022-03-24 17:33] probonopd commented on #24
With "use this file as the test for loading performances" I meant during development and testing. Not to ship those performances by default. So we don't have to ship the matching voices by default.

[2022-03-24 20:05] rsta2 commented on #24
TX802 compatibility is not easy to reach. Perhaps we can go for this in a future version. For now I would agree to use multiple .ini files. We could provide a tool for converting performance .syx files to .ini files.

I think we cannot support all performance parameters of the TX802, but the note low and high limits and note shift are still possible, also in the .ini file. This would allow to spli

[2022-03-25 17:38] probonopd commented on #24
Fully agree.

I don't think we need TX802 compatibility, unless soemone really has the need for it, wants to do it, and maybe a TX802 owner steps up to help us.
Low and high limits and note shift would be useful indeed, would be great to have them available.

For the UI menus I was thinking of extactly something as you are describing, which is very similar to how typicsl 3D printer menus work.
May

[2022-03-25 19:58] rsta2 commented on #24
Yes, that UI idea is good. The character set of the LCD is [here](https://cdn-reichelt.de/documents/datenblatt/A500/EA_W162-N3LED.pdf#page=2). Perhaps we should use the arrows 0x7E and 0x7F. It is also possible to define and use eight user characters (5x7 pixel matrix). The blinking block cursor is also available, but I personally would prefer the arrows. I had a look into the DX7 Manual, which gi

[2022-03-26 19:01] probonopd opened #58 "Record midi and/or wav"
Would it be possible to record midi and/or wav to microSD and/or USB storage, at least on the more powerful models?

[2022-03-26 20:51] rsta2 commented on #58
First, if you want to record a MiniDexed sound demo, there is already a solution for the Raspberry Pi [here](https://github.com/rsta2/circle/tree/master/sample/42-i2sinput). You need a second Raspberry Pi for this, enable I2S mode in MiniDexed, and connect the I2S input of the second RPi to the I2S output of MiniDexed. The recording RPi will provide a monitor audio signal via PWM on the headphone

[2022-03-27 12:25] rsta2 commented on #48
@probonopd I finished my tests with the modified USB driver, which now can use the FIQ (Fast Interrupt Request) to handle interrupts from the USB, especially the SOF (Start-of-Frame) interrupts, which occur 8000 times per second. The FIQ has a higher priority than the IRQ, which was used before, and can interrupt even running IRQ handlers. I suppose the timing of the SOF interrupts is very precise

[2022-03-27 16:50] probonopd commented on #48
Thanks @rsta2. I can still get to stuck notes when playing 6 keys at the same time repeatedly for a while (while having 4 TGs active using the default performance).

[2022-03-27 17:04] probonopd commented on #48
Interestingly I cannot reproduce this issue when using a serial MIDI keyboard attached to a [self-made USB MIDI adapter](https://www.hackster.io/dennis-v/usb-midi-adapter-e6ee57) using an Arduino.

[2022-03-27 20:13] rsta2 commented on #48
@probonopd Thanks for testing! I don't think your keyboard is the only one, which shows this problem with this USB driver, but I guess much more will work, than will not work. Unfortunately the only method to find out, if some keyboard works, is to take it and try it. The USB MIDI support in Circle is available for five years now, and I heard about problems with only three different keyboards (inc

[2022-03-28 16:45] probonopd commented on #48
@rsta2 thanks for the hard work you keep putting into this, I really appreciate it. Don't feel obliged to spend excessive amounts of time on this keyboard just because I happen to have it. On the other hand, if you think it helps development, I'd be happy to lend it to you, postage paid.

[2022-03-28 16:57] probonopd commented on #9
Volume knob, modulation, and pitch bend on MIDI controllers are working and tested successfully. In case some further tuning of parameters is needed, we can always open separate tickets.

Thanks @rsta2 for implementing this!

[2022-03-28 16:58] #9 closed

[2022-03-28 18:49] rsta2 commented on #48
@probonopd Thanks for your offer! Unfortunately I have currently no idea, what I could change on the USB driver to improve compatibility. If this changes, I will come back on it.

[2022-03-29 21:12] probonopd commented on #48
New hardware to play with:
Using a Nektar Impact LX61+ MIDI controller I also have to use `usbspeed=full` or else I get very many stuck keys on a RPi 2.

[2022-03-30 02:57] rsta2 commented on #48
Have you tested this keyboard on the RPi 3 with the USB FIQ test kernel above?

[2022-03-30 09:39] dcoredump commented on #15
After finishing the compressor code inside Synth_Dexed I will add the effect_platervb (and perhaps later also effect_chorus and effect_delay).

[2022-03-30 09:44] dcoredump opened #60 "Question about "Add note limits and shift to performance.ini" (Commit #99cefaefd348818cc5152b3041ec6f1d186f0e3c)"
Just a question: Is `m_nNoteShift[]` currently used? Synth_Dexed has methods for this:
[code]

[2022-03-30 10:09] rsta2 commented on #60
Yes, it's a global note shift, which is applied to all Dexed instances. The local transpose parameter is still valid. This is the same behavior, which the TX802 has: one transpose in each TG and one global parameter in the performance.

[2022-03-30 10:21] rsta2 commented on #60
Correction: This note shift parameter in the performance is there for each TG separately. But it is independent from the transpose parameter of the voice. Actually the two parameters will be added together. See pg. 16 "5. Midi Note Shift" in the TX802 Manual.

[2022-03-30 11:35] dcoredump commented on #60
Ahhh, ok. Thanks!

[2022-03-30 11:35] #60 closed

[2022-03-31 15:08] dcoredump opened #62 "UI with a HDMI-Touch-Screen?"
What about adding (later) a UI for a Touchscreen (connected via HDMI/USB), so voices and setup can be configured with?

[2022-03-31 17:14] probonopd opened #63 "Assign/"learn" Midi CCs to manipulate voice parameters"
It would be nice if we could assign/"learn" Midi CCs (knobs and sliders on MIDI hardware controllers) to manipulate Dexed voice parameters.

E.g., these guys:

![image](https://user-images.githubusercontent.com/2480569/161112382-c17c9b3e-c726-4420-879c-a27b04e5443d.png)

[2022-03-31 18:08] probonopd commented on #63
We'd also need a translation of 0-127 to whatever each voice parameter has as an acceptable range:

![image](https://user-images.githubusercontent.com/2480569/161121232-57a4bf72-3564-4595-9afa-1e3271927f31.png)
![image](https://user-images.githubusercontent.com/2480569/161121352-1699ae79-cf62-42a0-b4a5-295db3c10b7c.png)

[2022-04-01 12:40] dcoredump commented on #62
Sure, maybe you are right... but it would be a really cool thing if I can add only a touch TFT and program sounds... perhaps later :)

Yes, this is in my task list. The code is already in MicroDexed. I only have to put it into Synth_Dexed.

That's also on my task list for MicroDexed. I would try to implement it also in Synth_Dexed later...

[2022-04-01 12:46] dcoredump commented on #15
My latest PR includes now also the code for a stereo plate reverb. Currently the values are fixed (see minidexed.cpp).

[2022-04-01 16:27] rsta2 commented on #62
I did think about implementing the MIDI CC learn function in MiniDexed too already, but I was busy with another function, that's why I did not answer on this yet.

Because this effects the UI menu, where the parameter must be selected, which should be assigned to the MIDI CC, for which a message is received, there arises the question, should this be implemented in MiniDexed or Synth_Dexed? Persona

[2022-04-02 08:10] probonopd commented on #15
Is the new compressor going to help here?

[2022-04-03 17:02] probonopd commented on #63
Thanks to the awesome work of @rsta2 most of this is implemented. :1st_place_medal:

Highlight an aspect of the idea __bold__ in the original ticket above. @rsta2 do you think this would be doable?

[2022-04-03 17:11] probonopd opened #64 "Settings for effects in performance.ini"
Let's store the settings for the effects (e.g., reverb) in `performance.ini` so that one can edit them.

[2022-04-03 18:01] probonopd commented on #15
Thank you very much @dcoredump and @rsta2. Working and nicely integrated into the menu. So cool!

[2022-04-03 18:01] #15 closed

[2022-04-03 18:07] rsta2 commented on #63
Thanks! :) I will think about, how this can be done.

[2022-04-03 18:08] probonopd opened #65 "LCD: Reverse click and double-click"
In computer interfaces, double-click is for opening stuff. So I think it would be more natural to double-click in order to go down in the menu hierarchy ("open a submenu"), and to single-click to go up ("close the submenu"). Wdyt @rsta2?

[2022-04-03 18:09] rsta2 commented on #64
OK, will do so for the reverb settings.

[2022-04-03 18:10] rsta2 commented on #65
That's right and can be easily changed. Will do so.

[2022-04-03 18:19] probonopd opened #66 "Compressor, Reverb on/off"
Should we have menu entries to switch effects like Compressor, Reverb on/off?

* Effects
  * Compressor
    * On | Off
   * Reverb
      * On | Off
      * Edit Reverb

[2022-04-03 18:19] dcoredump commented on #15
I think I should take a look into the mixer code. Perhaps I should try to port the template mixer class of Teensy...

[2022-04-03 18:20] probonopd commented on #64
And the compressor?

[2022-04-03 18:22] probonopd commented on #63
Similarly, it would be nice if we could manipulate voice parameters using MIDI SYSEX sent over serial/USB.

[2022-04-03 18:23] probonopd commented on #15
Indeed it would be nice if the mixer could be improved in such a way that using e.g., 4 TGs of the same voice is not perceived "less loud" than using just 1 TG.

[2022-04-03 18:36] rsta2 commented on #64
Too.

[2022-04-03 18:38] rsta2 commented on #66
OK, good suggestion. On my TODO list.

[2022-04-03 19:06] rsta2 commented on #63
OK, one after another. I will keep this in mind.

[2022-04-03 19:18] probonopd commented on #66
Let's also set the default value for Diffusion to 20. The source code comment says:

When setting the value to 65 in the GUI, then the echo is removed from the reverb, which I prefer a lot. To reproduce, play the default voice in staccato.

[2022-04-03 19:51] rsta2 commented on #66
OK. But the default Diffusion is already 20:

https://github.com/probonopd/MiniDexed/blob/main/src/minidexed.cpp#L122

[2022-04-03 19:54] probonopd commented on #66
Sorry I mistyped. I meant: Set the default to 65 rather than 20.

[2022-04-03 19:57] rsta2 commented on #66
OK.

[2022-04-04 04:59] rsta2 commented on #65
This has been implemented by #67.

[2022-04-04 05:00] rsta2 commented on #64
Implemented by #69.

[2022-04-04 05:02] rsta2 commented on #66
Implemented by #69.

[2022-04-04 05:06] probonopd commented on #65
Works well for me and indeed feels more natural. Thanks!

(If we ever get to building a PCB, maybe we'll want an extra button for that.)

[2022-04-04 05:06] #65 closed

[2022-04-04 05:16] probonopd commented on #64
Cool!

How hard would it be to implement a "Save" function that would write back to the `performance.ini` file?

[2022-04-04 10:53] rsta2 commented on #64
Requires some effort, but is possible.

[2022-04-05 06:52] probonopd opened #71 "Revisit final sound processing stages"
Continuation from https://github.com/probonopd/MiniDexed/pull/69#issuecomment-1087892398:

This ticket is a reminder that we revisit the way we set up and use limiter/anti-clipping, compressor, pan processing, and mixer once @dcoredump has re-worked the final signal processing stage. No hurries, just so that it won't be forgotten.

[2022-04-05 09:38] dcoredump commented on #63
I would like to implement both inside Synth_Dexed because both is also needed for MicroDexed. But currently I cannot do everything at the same time 😀.

[2022-04-05 11:28] rsta2 commented on #63
OK, no problem. Let me know, if you need support for an interface to the UI (info about the currently selected parameter).

[2022-04-05 11:31] rsta2 commented on #64
If it's OK, I would concentrate on the "Save performance" function now.

[2022-04-05 17:21] probonopd commented on #20
Tested, working-

[2022-04-05 17:21] #20 closed

[2022-04-05 17:23] probonopd commented on #48
Yes, unfortunately the stuck notes still occured.

Using a Nektar Impact LX61+ MIDI controller even with `usbspeed=full` I get stuck keys (very, very occasionally) on a RPi 2.

[2022-04-05 18:12] #64 closed

[2022-04-05 18:14] probonopd commented on #24
Closing for now as we are using `.ini` files for performances now. Please comment below if you think this (or parts of it) should be reopened.

[2022-04-05 18:17] probonopd commented on #58
OK, this is difficult, so let's not go there now. Unless someone has a big need for this.

Thanks, noted! This will come in handy for e.g., a demo video and/or sound files.

[2022-04-05 18:25] probonopd commented on #62
Moving this discussion to https://github.com/probonopd/MiniDexed/issues/63.

As per "UI with a HDMI-Touch-Screen" I'd like to depriorize this for now, until someone comes along who has a big enough need to implement it.

[2022-04-05 18:27] probonopd commented on #63
Continuing from https://github.com/probonopd/MiniDexed/issues/62:

I think the ideal UX would be: You go to the respective parameter in the UI, and then instead of rotating the knob of the rotary encoder, you just wiggle the control you want to assign on the MIDI controller. MiniDexed then knows which CC message to use (from the messages that came from the MIDI controller) and knows which paramete

[2022-04-05 18:30] probonopd commented on #28
Deprioritized until someone comes around who has a big enough need and wants to implement it.

[2022-04-05 18:40] probonopd commented on #62
@rsta2 what you have done over the last weeks in this project has been truly outstanding. And without the work of @dcoredump and @smuehlst this project wouldn't have come into existence in the first place.

Let me take this opportunity to thank you very, very much. :1st_place_medal:

Maybe we can grow the community of users and eventually developers over the coming weeks and months.

[2022-04-05 19:44] rsta2 commented on #62
@probonopd You are welcome. When I was young, the DX7 was one of the things, I wanted to have. Honestly I already tried by myself to extend MiniSynth Pi for FM synthesis, but this didn't work well, and I aborted the project. Now with the support of @dcoredump it was possible to use the existing and further developed FM Synth_Dexed engine, which promised more success. He also provided the first Min

[2022-04-05 19:59] probonopd commented on #62
Actually, you have kind of a shrunken TX802 powerhouse :)

[2022-04-07 15:04] dcoredump commented on #71
The signal chain is now completely in `float32_t` (until it gets converted for `m_pSoundDevice->Write()`) but I have some trouble with noise at the reverb tail. I don't have an idea where it is coming from or if it's (perhaps) only when using PWM as output?

I tried to compare it with @probonopd  current version, but this one always gives me an `assert(reverb)` at startup. Can you try to checkout

[2022-04-07 16:37] probonopd commented on #71
Thanks @dcoredump.

Yes, the Raspberry Pi headphone jack PWM is very noisy, especially on the older models. I don't have high hopes that we can do much about it. The only device where it is halfway ok is the Raspberry Pi 4 from my experience.

Are you saying that the build from https://github.com/probonopd/MiniDexed/releases/tag/continuous is crashing on your machine?

[2022-04-07 16:45] probonopd commented on #71
Can you try to checkout my current state (https://github.com/dcoredump/MiniDexed)?
I have [opened a PR](https://github.com/probonopd/MiniDexed/pull/73), which normally triggers a build, which I then can test. Unfortunately there is a merge conflict; could you please have a look at it? If you can resolve the conflict in your branch, then it _should_ start to build automagically :)

[2022-04-07 19:01] rsta2 commented on #71
My mistake, sorry. Put [this line](https://github.com/probonopd/MiniDexed/blob/main/src/minidexed.cpp#L116) behind the creation of the `AudioEffectPlateReverb` object, and the assertion will go away.

[2022-04-08 09:12] rsta2 commented on #48
I have a cheap used M-AUDIO Keystation Mini 32 Mk3 here now. I can reproduce the problem. It seems with using the FIQ for the USB driver, the 0x202 errors do not happen any more, but the 0x402 errors (data toggle error) still happen. I'm trying to found out, why? Connected to a Raspberry Pi 4B, there weren't any problems, as expected.

[2022-04-08 16:33] #71 closed

[2022-04-08 16:36] probonopd commented on #48
Unfortunately it's not limited to cheap ones. So my hope is if it can be fixed for the Mini 32 Mk3 then it will also be fixed for others, like the Nektar Impact LX61+.

[2022-04-08 16:47] probonopd opened #75 "Voice initialize function"
Reading

by Dr. John Chowning and David Bristow
ISBN 4636174828

there are lots of example voices that help one to learn FM synthesis. They start by using the "VOICE INIT" button on the DX7. "This function sets up the basic voice data for creating new voices".

Maybe we should have a similar function, e.g., under

TG X -> Edit Voice -> Initialize

It should load the initialization default values:

[2022-04-08 16:56] rsta2 commented on #48
This is also my hope. But first the 0x402 errors must be fixed, which is difficult enough. :(

[2022-04-08 16:57] dcoredump opened #76 "Mixer object, e.g. for adding reverb send to each TG"
Just a placeholder: I am currently creating a mixer object, so a reverb send Mixer (or other sends) can easily be created.

[2022-04-08 16:58] dcoredump opened #77 "Adding Chorus fx"
Should I add a chorus instance for each TG?

[2022-04-08 16:59] dcoredump opened #78 "Adding delay FX"
Should I add a delay for each instance?

[2022-04-08 17:06] probonopd commented on #77
Having a chorus would be great.

I am not sure whether it should be per TG or "global" across everything (like the reverb currently is).
* What did one actually do in the 80s?
* Would it be significantly more CPU load to do it per TG?

[2022-04-08 17:10] probonopd commented on #76
Wow, now we are really getting fancy. I first need to learn what this is all about :-)

[2022-04-08 17:33] rsta2 commented on #75
"Edit Voice" and "Initialize" does not fit on one LCD line too. Better "TG#" > "Init Voice" or "TG#" > "Edit Voice" > "Init". Everything else should work.

[2022-04-08 17:36] rsta2 commented on #77
Every additional stage in the audio signal chain adds some load. It can only be tested, when it is too much, especially on the RPi 2. We could decide to use `fast=true`, but this only works with a heat sink or fan on some RPi models.

[2022-04-08 17:55] probonopd commented on #75
"TG#" > "Edit Voice" > "Init"
makes most sense for me.

[2022-04-08 17:59] probonopd commented on #77
So right now I am slightly leaning toward having effects global across all TGs (like reverb right now), unless someone thinks that is a really bad idea. After all, aren't effects mainly about simulating a room? All instruments are in the same room.

[2022-04-09 09:15] dcoredump commented on #77
I am a child of the 80s and I bought in 1987 a DX7II - and still have this nice synth. We used it for several years in our band, but the DX inside its flightcase is very heavy, so I decided to create a lighter version.

I used a seperate FX (Alesis Quadraverb+) for my DX. But I think there is not much change for the FX chain:

Some FX are better used globally (like reverb, master limiter/compresso

[2022-04-09 09:16] dcoredump commented on #77
Forgot to say :)

I have added some more NEON optimization for Synth_Dexed - hopefully this will give some more free CPU cycles.

[2022-04-09 09:20] probonopd commented on #77
@dcoredump so you are obviously the expert here. I'll leave the per-voice vs. global effects decision to you.

[2022-04-09 09:24] dcoredump commented on #76
:)

We use the reverb as a master reverb (global). Normaly you decide on a mixer how much amount of each voice is to send to the reverb. Mostly the bass does not get any reverb added and perhaps you also won't add reverb to sounds which have a long decay (strings).

With a mixer you can add a reverb send to each TG:

- TG1: Bass -> 0
- TG2: Strings -> 20
- TG3: PercOrgan -> 75
- TG7: HandClap -> 1

[2022-04-09 09:41] probonopd commented on #76
I see. Is the result audibly different from having one reverb per TG, or is this a measure to save CPU cycles?

[2022-04-09 10:47] dcoredump commented on #76
It's more a question of how you hear sounds. A seperate reverb for each TG would make only sin if you have different reverb settings. But normally we don't hear different types at the same time, so your hearing system might get confused if there are several  reverb types mixed together. Sometimes this might be used as a special effect, but normally you habe only one reverb and you decide how much

[2022-04-09 10:52] probonopd commented on #76
Maybe I am oversimplifying it, but I see reverb as a factor of a simulated "room" in which all instruments are placed. So it makes sense intuitively for me to have one reverb for the whole performance, rather than one per instrument. But I get it that for different instruments (frequences really?) the reverb should be more or less.

[2022-04-09 11:03] rsta2 commented on #75
Yes, but this does not make sense in my opinion, if we do not have a function to save the edited voice to a voice bank .syx file on the SD card?

[2022-04-09 11:09] rsta2 commented on #76
Good to have a real musician in the team!

[2022-04-09 12:00] probonopd commented on #75
Indeed I could imagine that sooner or later that feature might be requested by someone.

[2022-04-09 15:59] rsta2 commented on #75
I will have a look at the "Init" function, when I have some break from searching for the USB issue cause.

[2022-04-09 16:13] dcoredump commented on #76
Please specifiy "real musician"... :) I am more a long term hobby musician.

... and I am a poor programmer. @rsta2 @probonopd: Can you help me with a C++ problem? I have stored the implementation of the current mixer class at [https://github.com/dcoredump/MiniDexed](https://github.com/dcoredump/MiniDexed) I get errors from the linker that methods are not available:
[code]
But they are defined. No

[2022-04-09 16:46] rsta2 commented on #76
Someone, who plays in a band and knows, how to setup a room for a concert (e.g. reverb settings).

Can it be, that you have to add the file *mixer.cpp* to the Makefile to satisfy the linker?

I'm afraid, I have to write something down about the naming scheme. It's something like the [Hungarian notation](https://en.wikipedia.org/wiki/Hungarian_notation), but on a minimal basis.

[2022-04-09 19:52] dcoredump commented on #76
Hm, it's mentioned in Synth_Dexed.mk. Here is the complete output of the run. You can see that effect_mixer.cpp is used and there is an effect_mixer.o. I have no idea why it isn't used for linking...

[code]

[2022-04-10 06:29] rsta2 commented on #76
The effect_mixer is implemented as a C++ template. I'm not a template expert, but I cloned your code and got it building successfully. Please see the attached patch.

Templates are instantiated by string replacements and are not compiled to an object code. That's why the compiler needs the full template code, when it compiles *minidexed.cpp*.

The key is, that for templates normally everything (de

[2022-04-10 08:46] rsta2 commented on #76
In short here the naming conventions for Circle:

* Identifiers for types and variables will be written this way: "MyExampleIdentifier" (each word starts with an uppercase letter).
* Class names start with a "C", other types (struct, enum) with a "T".
* Member variable names of a class start with a "m_", static variables in a class definition with a "s_".
* Variable names get a prefix, which speci

[2022-04-10 14:55] probonopd opened #80 "Real-time parameter control"
It would be useful if changes to voice parameters would have immediate effect on already-playing notes.
This would be especially neat in combination with #63.

For some parameters this is already the case (e.g, volume), but apparently not for all of them. More investigation needed.

Do you perhaps know more about this subject @dcoredump?

[2022-04-10 14:57] probonopd commented on #80
https://narkive.com/6HNdPD06:3.358.923

been that if you send the usual sysex midi data, the voice will reset
every time, causing a stutter in the sound if the parameter values get
changed while you are playing a note. **The DX7II didn't have this
problem, and can have it's parameter values changed while being played
without any real problems.** In order to tweak parameters real-time on
the origin

[2022-04-10 15:01] rsta2 commented on #48
The problem occurs on a Raspberry Pi 3B with Raspberry Pi OS too. I can demonstrate this with the M-AUDIO Keystation Mini 32 Mk3. When pressing and releasing the MOD button, the keyboard sends `B0 01 01` `B0 01 02` `B0 01 03` ... `B0 01 7F` `B0 01 7E` `B0 01 7D` ... `B0 01 01` `B0 01 00` `B0 01 01` `B0 01 02` and so on. When doing this for a while, one `B0 01 NN` is missing in the row of MOD messa

[2022-04-10 15:05] probonopd commented on #48
Wow. So we are tripping over a bug in the Raspberry Pi hardware/firmware?

[2022-04-10 15:08] probonopd commented on #63
Worth seeing!
https://www.youtube.com/watch?v=GIE3WfrEEX0

[2022-04-10 15:20] rsta2 commented on #48
Seems so. As I understand the USB 2.0 spec. the problem is not the data toggle error itself. These errors can happen for example with electronic interference, but it should be possible to ignore them without losing data. Currently I do not know, how this is possible on the RPi 1-3.

[2022-04-10 17:21] probonopd commented on #48
Looks like you have spent way too much time on this nasty issue already. Especially if this can be reproduced on Raspberry Pi OS: Do you think we should contact someone from the Raspberry Pi team?

[2022-04-10 17:23] probonopd opened #81 "Shortcut for switching between OPx"
It would be neat if we could have a shortcut for switching between OPx, like we have a shortcut for switching between TGx.

We could use the same "gesture": keep-button-pressed-and-rotate-knob. If there is "TGx" in the upper-right corner of the screen, it would go through the TGs (as it is now). If there is "OPx" in the upper-right corner of the screen, it would go through the OPs (new).

Wdyt @rs

[2022-04-10 18:31] dcoredump commented on #76
Many thanks @rsta2 !

Got it now. Good we have a real programmer in the team!

I have some small problems to fux, but I think I can manage this the next days.

[2022-04-10 18:34] dcoredump commented on #80
I hope I am getting the Reverb-Send-Mixer ready the next days. After that, I would like to implement parameter changes via SYSEX.

I have an idea how to arrange this, but I have to test it. There is a kind of voice refresh function available, which has to be called after a change.

[2022-04-10 18:41] rsta2 commented on #48
I think I'm not ready with this yet. At least the `usbspeed=full` workaround should work. If I remember well, it didn't do this for you. I still need some time to check this. We could open an issue in the RPi "firmware" or "linux" repo, but the problem should be 100% proved, before doing so. I have tested this with my own-built kernel so far only. Still need some time.

[2022-04-10 18:43] rsta2 commented on #81
May be possible. I will have a look on it.

[2022-04-10 18:52] probonopd opened #82 "Parameter changes and voice loading via sysex"
@dcoredump [said](https://github.com/probonopd/MiniDexed/issues/80#issuecomment-1094345167):

That would be cool!

[2022-04-10 18:55] probonopd commented on #80
For parameter changes via sysex, I opened a separate [issue](https://github.com/probonopd/MiniDexed/issues/82).

This ticket here is about calling that voice refresh function when voice parameters are changed in the LCD GUI. Would one have to call `doRefreshVoice(void);` after each change? Or should it be sufficient to call `setRefreshMode(true);` once @dcoredump?

[2022-04-10 20:22] probonopd opened #83 "Some voices are not played"
https://yamahablackboxes.com/patches/dx7/factory/rom3a.syx

* 17=SAX BC
* 24=VOICES BC

https://yamahablackboxes.com/patches/dx7/factory/rom4a.syx

* 10=BRASS BC

https://yamahablackboxes.com/patches/dx7/vrc/vrc106a.syx

* 17=SYN.BRA. 4

https://yamahablackboxes.com/patches/dx7/vrc/vrc106b.syx

* 25=SYN.GUITAR

https://yamahablackboxes.com/patches/dx7/vrc/vrc108a.syx

* 15=Good-Vibes

https://yama

[2022-04-10 22:19] probonopd commented on #83
One this mystery is solved, we may consider to create nice performances using the TX816  voices.

For example, set TG1...8 to use `Tfi1...8.syx` from `Dexed_cart_1.0/Original Yamaha/TX816/`, each voice 11. (Possibly no additional detune; tbc.) The result is a nice rich piano

[2022-04-11 09:00] rsta2 commented on #81
See #84.

[2022-04-11 10:38] rsta2 commented on #48
See: https://github.com/raspberrypi/linux/issues/4986#issue-1199763175

[2022-04-11 14:09] rsta2 commented on #48
There is a solution for this problem for Raspberry Pi OS. I have to see, if I can implement this for Circle.

[2022-04-11 17:48] probonopd commented on #75
Agree. We should use 2. for the purpose.

And we can remove 1. because we don't need ROM1A hardcoded anymore.

But if the user has no `.syx` files loaded at all, then there should be at least one good-sounding default voice. Would that be 3.?

[2022-04-11 17:54] #81 closed

[2022-04-11 17:55] probonopd commented on #83
@dcoredump can you reproduce this issue, also on MicroDexed?

[2022-04-11 17:56] dcoredump commented on #83
I have to check this tomorrow.

[2022-04-11 18:07] rsta2 commented on #75
Yes, 2. would be used for the "Init" function in the UI and 3. for all voices in all voice banks, when there isn't any loaded voice bank available. Class `CSysExFileLoader` can be easily changed for this purpose.

[2022-04-12 17:19] probonopd opened #87 "[Idea] Add other waveforms than sine"
DX7 and Dexed only have sine waves. The TX81Z can generate 7 additional shapes:

![image](https://user-images.githubusercontent.com/2480569/163018138-489a694a-4e12-475d-9ff3-d357d0bc7d08.png)

WAV versions: https://www.audiobombs.com/items/1083/joel%27s-synth-waveforms

The Korg Opsix is doing a similar thing: https://www.youtube.com/watch?v=yS693SgnBws

How hard would it be to implement this in S

[2022-04-12 17:25] probonopd opened #88 "[Idea] Raspberry Pi hat PCB"
[klonk2905](https://www.reddit.com/user/klonk2905/) wrote over at [Reddit](https://www.reddit.com/r/synthdiy/comments/syup5a/comment/hy2twxk/?utm_source=reddit&utm_medium=web2x&context=3):

Let's collect the ideas and requirements here.

* [Alphanumeric 1602 LCD Display](https://www.berrybase.de/en/sensors-modules/displays/alphanumeric-displays/alphanumerisches-lcd-16x2-gr-252-n/gelb)
*  [KY-040 r

[2022-04-12 17:44] dcoredump commented on #87
Good question 😁

Dexed has fixed arrays (lookup tables), so exchanging only the sine table looks like the solution, BUT there are also log() LUTs, so I have currently no idea if they are related to the sine oscillators.

Maybe something to try for someone else because my list for fixes and extensions is long 😀

[2022-04-12 17:55] probonopd commented on #87
Yes. Let's leave it as an idea, maybe someone comes along who whould like to have a go at it.

[2022-04-12 17:59] dcoredump commented on #83
Couldn't try, sorry.

Perhaps those sounds use the breath controller for the AMP envelope?

[2022-04-12 19:43] rsta2 commented on #48
Even with maximum polling speed, I get lost MIDI events with Circle (every 2 minutes or so). This seems to be very critical with these (low-buffered) devices. What we can do is, calling `Dexed::notesOff()` or `Dexed::panic()`, when such condition is detected. I also have to add another option for *cmdline.txt* (e.g. `usbboost=true`). That's another workaround, but I cannot generally implement this

[2022-04-12 20:02] probonopd commented on #48
Does Linux with `dwc_otg.nak_holdoff=0` work in a different way than Circle in this regard?

[2022-04-12 20:12] rsta2 commented on #48
It's not possible to copy the exact behavior of the Linux driver. The drivers are much too different. From the info from the RPi Linux repo, I can only read, that I have to poll as quick as possible. That's what I do now in my tests.

[2022-04-12 20:16] probonopd commented on #48
I am really just guessing here, but could it be that they are using interrupts differently to rely less on polling?

[2022-04-12 20:26] rsta2 commented on #48
They must poll the device too. When I say "polling", I do not mean, that the Circle driver does polling. It uses interrupts, of course. Otherwise it could not work in the background. But the USB device (the keyboard) has to be requested for data, by sending "polls". That's relatively complicated and cannot be explained in short.

I'm trying to adapt the behavior of their driver, which uses both FI

[2022-04-12 20:32] probonopd commented on #48
How do you know rthat the Keystation has small buffers? (I would like to find out for my Impact LX61+.)

[2022-04-12 20:36] rsta2 commented on #48
The developer from RPi wrote, that this must be the case.

[2022-04-12 20:39] probonopd commented on #48
I see. Let's go the `usbboost=true` route then, I'd say.

[2022-04-12 20:44] rsta2 commented on #48
OK, I also see no other way at the moment.

[2022-04-14 10:16] D4p0up commented on #88
(Klonk 2905 Here) Thanks for letting me in.

Great suggestions, a few philosophical questions first :
- what is the interaction philosophy you would expect from such hardware? Should it mimic the "frugality" of the original - i.e. one 16x2 display and a couple of buttons" - or do we push further (rotary encoders, ribbons, tactile displays, etc...)?
- What is the form factor expected? Matchbox ultr

[2022-04-15 07:19] probonopd commented on #88
Hello @D4p0up, welcome.

Yes, I'd say let's mimic the "frugality" of the original. In fact, our UI is even way more simplistic than the original (16x2 display with just 1 rotary encoder and 1 button so far). If we go down the path of making hardware, we should possibly add just a few more buttons to allow for future expanadability and/or UI shortcuts. Possibly we should think about making it compa

[2022-04-15 07:54] probonopd opened #89 "Optimize rotary encoder movement"
Currently, If two clicks are needed for a single movement. `mt32-pi.cfg` has this information:

[code]
Code is [here](https://github.com/dwhinham/mt32-pi/blob/07004eac54b123859bf528e7971ae6ccdefd55e4/src/control/rotaryencoder.cpp).

Next step: Try `mt32-pi.cfg` with my rotary encoder.

[2022-04-15 11:55] probonopd opened #90 "Expose Cutoff and Resonance global Dexed paramters in menu"
Similar to (De)tune, we should expose the Cutoff and Resonance global Dexed paramters in the menu and save them in `performance.ini`.

![image](https://user-images.githubusercontent.com/2480569/163567756-44cff6f6-d929-4459-9300-72eb2778bb9f.png)

[2022-04-15 16:58] probonopd opened #91 "Osc Mode display values behave differently"
Accroding to the DX7 manual,

Currently in MiniDexed, setting _Osc Mode_ to _fixed_ does not seem to have any impact on the behavior of _Freq Coarse_ and _Freq Fine_.

[2022-04-16 08:16] rsta2 commented on #89
The original code is [here](https://web.archive.org/web/20210121145439/https://embdev.net/articles/Rotary_Encoders). I think it is easier to understand. It needs to sample the inputs from the rotary encoder with 1 KHz. mt32-pi uses its own CPU core for the UI and this purpose. We cannot do this, because we need all secondary cores for the audio processing. I could install an 1 KHz user timer on co

[2022-04-16 08:19] rsta2 commented on #90
I think this can be added. The respective methods are in the `Dexed` class. Will do so.

[2022-04-16 08:20] rsta2 commented on #91
Can this be caused by the missing refresh function similar to #80?

[2022-04-16 08:47] dcoredump commented on #80
I added a `doRefreshVoice();` when changing parameters, so I hope this should be fixed now. Please check out  the latest Synth_Dexed for trying.
(I hope this fixes also #91)

[2022-04-16 10:44] rsta2 commented on #90
Unfortunately it's not that simple. There is a define `USE_FX` in *PluginFx.cpp*, which probably needs to be enabled, to enable the filter. Also I do not know the parameter range for the following methods:

[code]

@dcoredump Can you give some clarification? Does the filter increase the load much?

[2022-04-16 12:32] dcoredump commented on #90
I am using the filter inside MicroDexed. The `USE_FX` guard is present because I wanted to disable the complete FX stack in MicroDexed to be able to use older processors.

For a RPi enabling the EQ should not be a problem.

[2022-04-16 12:33] dcoredump commented on #90
Just forgot: the values for the filters are 0.0f .. 1.0f.

[2022-04-16 13:14] dcoredump commented on #88
Hi @D4p0up  and welcome!

a decend hat with audio codec and DIN MIDI I/O would be very nice. The hardware audio outputs should be on two 6.3mm jacks and perhaps also with an automaticly  mono switch when using only the left output. This would make MiniDexed perfectly fitting for a connection to mixing console as well as for a live gig (only connected mono to a monitor box).

I think the minimalist

[2022-04-16 13:15] dcoredump commented on #83
Hm, have to check this... sorry, currently not much free time for this 😢

[2022-04-16 13:36] dcoredump commented on #80
`setRefreshMode()` is for setting the note refresh mode...

I have added a `doRefreshVoice()` to some of. the moethod of `class Dexed`.

[2022-04-16 14:26] rsta2 commented on #90
@dcoredump Thanks!

[2022-04-16 15:48] rsta2 commented on #90
Implemented in #93.

[2022-04-16 20:06] probonopd commented on #80
Thanks for adding this capability @dcoredump. However, I have build issues for 32-bit RPis with the latest Synth_Dexed. Could you please have a look?

[2022-04-17 06:10] probonopd opened #95 "Enable -O3 optimizations for NEON"
Enable -O3 optimizations for NEON

https://github.com/probonopd/MiniDexed/pull/86#issuecomment-1100634145

[2022-04-17 10:30] dcoredump commented on #80
Argh - don't know why this happens just now. But I hope I have fixed it in current Synth_Dexed. Please pull and try again. Compilation works for me with RPI[1234].

[2022-04-17 11:48] probonopd commented on #91
I thought the menu entries would change when one switches __Osc Mode_ to _Fixed_, but __Freq Coarse__ and __Freq Fine__ still have `<-1->`. Do I undertsand it wrong?

[2022-04-17 11:55] probonopd commented on #90
Works! :+1: Thank you very much.

[2022-04-17 11:59] probonopd commented on #80
Works! :+1:

Thanks @dcoredump and @rsta2

[2022-04-17 12:00] #90 closed

[2022-04-17 12:00] #80 closed

[2022-04-17 12:04] probonopd commented on #75
As a workaround, I found that e.g., http://dxsysex.com/SYSEX_DX7/Guest/ENO.syx contains the init voice on the "empty" slots of the bank.

[2022-04-17 12:26] #95 closed

[2022-04-17 12:40] probonopd commented on #76
Thanks @dcoredump for the idea and for implementing this. :+1:

[2022-04-17 12:40] #76 closed

[2022-04-17 12:43] probonopd commented on #63
For example, a Korg nanoKONTROL 2 could be (ab)used to set the level (volume) of each operator with the slider, and the frequency (ratio) with the knob. Something like that.

[2022-04-17 12:48] probonopd opened #101 "Reorder menu items in "Edit Voice""
I think we should reorder some of the menu items in "Edit voice" (e.g., to bring Edit Voice -> TGx -> Output Level closer to the beginning of the submenu, and to bring "Operator" closer to the beginning of its respective submenu).

Does the current order follow a particular logic we should stay at @rsta2? if not, what would I need to know if I wanted to reorder things a bit?

[2022-04-17 16:17] rsta2 commented on #91
No, the menu entries do not change. Freq Coarse and Fine are always there, despite of the Osc Mode setting.

[2022-04-17 16:22] rsta2 commented on #101
TG1-8 must be the first entries in `s_MainMenu` and OP1-6 must be the first entries in `s_EditVoiceMenu`. This is because of the shortcut functions. Everything else can be changed.

[2022-04-17 16:24] probonopd commented on #101
Thanks. I can live well with that restriction (didn't want to change that part anyway). Will do some subtle order changing experiments soon.

[2022-04-17 16:26] probonopd commented on #91
Doing more experiments, I can confirm that both modes are working.

But what is shown in the display is very different from what a DXx/TXxxx would show, and hence I can't do the examples from the books with MiniDexed at the moment.

[2022-04-17 16:34] luisfcorreia opened #103 "Enable classic MIDI input"
It would be nice to be able to send classic MIDI data through RX pin

It only needs a simple optocoupler circuit for acccepting notes and other data.

[2022-04-17 16:35] luisfcorreia commented on #103
maybe already present, will test it soon

(https://github.com/probonopd/MiniDexed/blob/main/src/serialmididevice.cpp)

[2022-04-17 16:39] probonopd commented on #103
Yes, it is already present software-wise. You still need to build the optocoupler circuit. Please let us know which exact circuit you are using if you succeed! (I had played with this very briefly but never got it to work electrically.)

[2022-04-17 16:59] probonopd opened #105 ""MIDI Through" to Serial MIDI"
https://github.com/probonopd/MiniDexed/issues/20#issuecomment-1074305908 makes me wonder whether it would be possible to forward the MIDI events coming into MiniDexed via USB to Serial MIDI.

This way, a computer or tablet connected to MiniDexed using a Raspberry Pi Zero (running a Serial MIDI to USB Midi bridge firmware) could be used to run a keyboard learning application like [Synthesia](https:

[2022-04-17 17:28] #101 closed

[2022-04-17 17:40] probonopd commented on #91
I think this is how it _should_ be:

* Freq Coarse: If Osc Mode is set to Ratio, the frequency ratio can be set from one half (0.5 times) to 32 times, default is 1 _-  these values should be shown in the display?_ If Osc Mode is set to Fixed, one of the following frequencies can be selected: 1, 10, 100, and 1000 Hz _-  these values should be shown in the display?_
* Freq Fine_ If Osc Mode is set t

[2022-04-17 17:41] probonopd commented on #101
Also updated the [documentation](https://github.com/probonopd/MiniDexed/wiki/Menu) accordingly.
This arrangement makes it quicker to do examples from the [books](https://github.com/probonopd/MiniDexed/wiki/Recommended-Resources#books).

[2022-04-18 00:54] maks commented on #63
Very cool project!

I was wondering if you would consider adding support for something like the Akai Fire:
![image](https://user-images.githubusercontent.com/71999/163738435-75a8a7fa-d0e6-440b-bace-df13ff93d2e5.png)

For not much more than the price of a small midi keyboard controller plus the existing electronics parts list (lcd,encoder, breadboard,etc) you get a 128x64 OLED, rotary+push button e

[2022-04-18 01:02] maks opened #107 "feature request: scripting support"
I think it would be very nice to be able to have scripting of MiniDexed functions using eg. Lua or JS with a light weight, easily embeddable engine like [QuickJS]( https://bellard.org/quickjs/)

This would also allow the possibility of add lots of functionality that perhaps not all users would want such as step sequencing, control via specialised devices such as [I mentioned here](https://github.c

[2022-04-18 05:08] nikitalita commented on #107
Mt32-pi implemented something like this

[2022-04-18 06:04] maks commented on #107
@nikitalita thank you that's interesting to know that project is implementing scripting too, though I'm much more interested in this project and using FM synth than soundfonts with fluidsynth.

[2022-04-18 07:10] nikitalita commented on #107
Sure, I’m just suggesting that the maintainer use that as a reference since they are similar projects and work on the same platform

[2022-04-18 08:15] probonopd commented on #107
Interesting idea, although I am not sure how this should be integrated technically.

Can you please point to its documentation where the embedded scripting is described? Can't seem to find it. Thanks.

[2022-04-18 08:31] probonopd commented on #63
Hello @maks, interesting device. If this ticket gets implemented, knobs and faders could be easily assigned to MiniDexed parameters. Which imho would already be a _huge_ usability improvement over the original DX7.

We don't want to hardcode MiniDexed for certain MIDI controllers. Besides, without having that piece of hardware the effort is futile. So unless we find a solution purely using configu

[2022-04-18 16:30] #75 closed

[2022-04-18 17:14] probonopd commented on #82
@jrdooley also [requested](https://github.com/probonopd/MiniDexed/discussions/110) this feature with the folliowing use case:

[2022-04-18 17:16] probonopd commented on #82
Hello @dcoredump are there changes in [Synth_Dexed](https://codeberg.org/dcoredump/Synth_Dexed/) needed so that this can be implemented in MiniDexed?

[2022-04-18 17:21] probonopd commented on #91
Reference:
[For the intended ](https://github.com/probonopd/MiniDexed/wiki/Exercises#exercise-17-fixed-mode)

[2022-04-18 17:25] probonopd opened #111 "Allow enabling and disabling operators"
Allow enabling and disabling operators from the menu to speed up operation.
Currently, one needs to set the Output Level of an operator to 0.

We could handle this in the menu structure similar to **MiniDexed -> Effects -> Enable**:
**MiniDexed -> TGx -> Edit Voice -> OPx -> Enable**.

Reference: [Exercise 8](https://github.com/probonopd/MiniDexed/wiki/Exercises#exercise-8-enabling-and-disabling-o

[2022-04-18 19:48] bengarland commented on #88
Would ClumsyMIDI work with MiniDexed?

[2022-04-18 22:20] maks commented on #63
@probonopd yes, very fair point and I think you are right about avoiding hardcoding support for specific midi controllers. I opened a separate issue for scripting support that I realised after I made the comment here would be the better way to approach this so I'll follow up on that issue.

[2022-04-19 06:34] dcoredump commented on #82
Yes, I really want to move the SYSEX code from MicroDexed to Synth_Dexed, but currently I have not much time to manage this. But it's on my list.

[2022-04-19 06:53] probonopd commented on #88
The 0.91" OLED display is currently not supported by MiniDexed, only 16x2 alphanumeric displays without i2c at the moment. Although this [might](https://github.com/luisfcorreia/MiniDexed/commit/ada781ee334fdb25d99a04d04cfed13ad60b308d) change in the future if @luisfcorreia succeeds.

[2022-04-19 07:43] jrdooley commented on #82
@dcoredump Great to hear that it's in the pipeline! This would really open up the creative possibilities for MiniDexed.

[2022-04-19 08:55] probonopd commented on #63
The way I imagine this to work is roughly as follows:

We need a global data structure (a map?) that can hold, for each CC number, (the pointer to) a parameter. Optionally (later), this data structure could be loaded from `cc.ini` and it should be possbile to save it there.

Something like this (just for illustration filled with some values; initially it would be empty):

[code]

Somewhere around

[2022-04-19 09:25] rsta2 commented on #89
@probonopd Extending the Circle KY-040 driver did probably not work. Unfortunately I also do only have one KY-040 and I even do not know, if it is "quarter", "half" or "full". I did think about this some time now. Because I already implemented one rotary encoder driver for MiniDexed and Circle, I won't do again.

You will find other developers for sure, which are ready to do this. I'm afraid I hav

[2022-04-19 09:29] rsta2 commented on #105
Probably possible. The question is, if this MIDI forwarding should be done generally or only if switched on in the UI.

[2022-04-19 09:33] rsta2 commented on #91
Not that simple to implement this, like it may look like. Currently the UI is designed for the assumption, that there are no dependencies between different parameters, when deciding, how to implement their values. I think about, how this can be changed.

[2022-04-19 09:35] rsta2 commented on #111
I think there is currently no possibility to disable OPs in Synth_Dexed. They are always on.

[2022-04-19 09:39] rsta2 commented on #63
As I understand it, @dcoredump wants to implement most of the functionality in Synth_Dexed. I don't want to interfere with that, but already offered my help, e.g. for determining the current parameter in the UI, when a MIDI CC message comes in.

[2022-04-19 09:43] dcoredump commented on #63
My thought of implementing this was:

I wanted to give the Dexed class methods for processing SYSEX and MIDI-CC. The MIDI-CC methods should internally get a mapping from the CC number to any function (so also for changing sound parameters) and a scaling (e.g. `CC-7` `0..127` -> `Parameter[42]` `95..43` (so also allow a flip of the values)). The target could be any method to change the sound, but a

[2022-04-19 09:48] probonopd commented on #111
@dcoredump would you consider adding such functionality? It is in Dexed. These switches:
![image](https://user-images.githubusercontent.com/2480569/163977404-bbc0eb6d-a36e-414f-a119-b7c7317b50ec.png)

[2022-04-19 09:49] probonopd commented on #91
Ah, I understand. No hurry! In the meantime, maybe we should have the menus print both values (variable and fixed)?

[2022-04-19 09:52] probonopd commented on #105
I think a setting in the `minidexed.ini` file should do.

[2022-04-19 10:27] dcoredump commented on #111
Synth_Dexed has got a method: `void setOPAll(uint8_t ops);`

For enabling/disabling you have to use a bitmask (`uint8_t ops`).

Is this what you are sesrching for?

[2022-04-19 10:37] probonopd commented on #111
In fact, `void setOP(uint8_t op, bool state);` might be what I was after.

[2022-04-19 10:49] probonopd commented on #111
I would think that I need to add `	{0,	1,	1,	ToOnOff}		// DEXED_OP_ENABLE` to the end of

https://github.com/probonopd/MiniDexed/blob/74772a689a74b30385018f93a4f3bd7cbf95766b/src/uimenu.cpp#L214-L238

but it is not obvious to me what else is needed, @rsta2 can you give me a hint please?

[2022-04-19 10:54] probonopd commented on #89
@rsta2 you have been doing pure magic both with Circle and with this project. Who would have thought the project would land on the frontpage of [Hackaday](https://hackaday.com/2022/04/19/bare-metal-gives-this-pi-some-classic-synths/)? All the [credit](https://github.com/probonopd/MiniDexed#acknowledgements) goes to you and to the other giants which this project stands on the shoulders of. You can'

[2022-04-19 16:54] rsta2 commented on #89
Thanks for your understanding! Yes, it was fun. Unfortunately I'm not musician enough to enjoy all the coming features of MiniDexed enough, to continuously work on this project. The (shrunken) TX816, that I have now, is already great enough for me. ;)

[2022-04-19 17:00] rsta2 commented on #91
I would like to know, how is the exact mapping from the parameter range 0-31 for coarse to 0.5 to 32 times for ratio and 1, 10, 100, 1000 Hz for fixed? Respectively how is the mapping from 0-99 for fine to 1 to 1.99 times for ratio and 1 to 9.772 times for fixed. At the moment the raw parameter values 0-31 and 0-99 are shown.

[2022-04-19 17:11] rsta2 commented on #111
I cannot answer this straight out. Have to think about it.

[2022-04-19 17:32] apvanzanten commented on #39
Just for information if anybody is looking: I had this same issue with my Studiologic SL 73 Studio keyboard (removing the `usbspeed=full` from cmdline.txt fixes it).

[2022-04-19 17:33] probonopd commented on #39
Thanks for letting us know @apvanzanten. Will add this to the documentation.

[2022-04-19 17:51] probonopd commented on #91
Ratio:
* **Coarse**: 0.5, 1, 2, ... 31
* **Fine**: 1, 1.01, ... 1.99 times the selected **Course** value (if it is too much work to implement this, then show the unmultiplied values)

Fixed:
* **Coarse**: 1 Hz, 10 Hz, 100 Hz, 1000 Hz (strangely the knob in Dexed repeats these a couple of times, bug?)
* **Fine**: 1 Hz, 1.02329 Hz, 1.04713 Hz, 1.07152 Hz, ... 9.77237 Hz times the selected **Course**

[2022-04-19 18:00] probonopd commented on #63
If we want to load and save those assignments, wouldn't we need to do at least parts of the logic in MiniDexed anyways?

I know it's a big ask, but I see this one as the last remaining "killer" feature that I'd _love_ to see implemented while @rsta2 [still has some time](https://github.com/probonopd/MiniDexed/issues/89#issuecomment-1102500841).

[2022-04-20 01:05] rsta2 commented on #111
I would implement this as follows:

* Add a `uint8_t m_uchOPMask[CConfig::ToneGenerators]` member variable to `CMiniDexed` to save the current enable state of the different OPs for all TGs. This is necessary, because the current state cannot be read back from `Dexed` (actually not a problem). This member must be initialized to 0x3F (all OPs enabled) for all TGs [somewhere here](https://github.com/

[2022-04-20 07:32] ebrown3k opened #119 "A couple ideas or questions"
I just found this project and it is **amazing.** I was about ready to preorder the new Volca FM2, but now I don't have to. I already have a much more powerful synth running on my Pi. I haven't added the encoder and screen yet, but I will soon. I had a couple of thoughts and maybe these are already possible and I just missed them because I don't have it fully built with the proper hardware. I am no

[2022-04-20 07:38] ebrown3k commented on #119
Sorry, I didn't see the discussions. I'll move this there.

[2022-04-20 07:38] #119 closed

[2022-04-20 11:31] ChKK1963 opened #121 "Support pan, cutoff frequency/resonance and reverb level changes using standard Midi CCs"
Thanks for already implementing volume, modulation and pitch bend! Next obvious candidates would be pan, cutoff frequency/resonance and reverb level as there are standard Midi CCs defined for them:

- 10 = Pan
- 71 = Resonance
- 74 = Frequency Cutoff
- 91 = Reverb Level

This is independent of the future user-assignable / learnable CCs.

[2022-04-20 16:53] probonopd commented on #121
Let's also add * 94 = Detune Level

[2022-04-20 16:57] probonopd commented on #121
@ChKK1963 can you please test the version from https://github.com/probonopd/MiniDexed/suites/6193386464/artifacts/218198239 and let me know whether it works as intended, thank you.

[2022-04-20 17:00] probonopd commented on #111
Thanks for your detailed instructions @rsta2. I am probably making a fool of myself, but I have trouble with "the bit for the respective operator in `m_uchOPMask[]` must be returned (0 or 1)". Probably this is wrong:

https://github.com/probonopd/MiniDexed/blob/ded7db2d3589f4821e8238b455cb081e26db5662/src/minidexed.cpp#L715

In any case, the additional menu entry appears but MiniDexed crashes upon

[2022-04-20 17:45] rsta2 commented on #111
Please change the methods `CMiniDexed::SetVoiceParameter()` and `CMiniDexed::GetVoiceParameter()` as follows:

[code]

The member variable `m_uchOPMask[]` should be placed in the `private` section of the class `CMiniDexed`, so that it cannot be accessed directly from outside of the class (information hiding).

[2022-04-20 17:57] rsta2 commented on #91
See #123.

[2022-04-20 17:58] probonopd commented on #91
Testing asap. Thank you!

[2022-04-20 18:05] probonopd commented on #111
...works!

[2022-04-20 18:18] rsta2 commented on #63
Yes, there is still some time. Accessing the MIDI CC assignments in an `.ini` file can be done similar to `performance.ini`.

[2022-04-20 19:04] probonopd commented on #91
Coarse in Fixed mode repeats the same values a couple of times, but I think that's more a curiosity than a bug. No need to invest time to change this imho.

[2022-04-20 19:09] probonopd commented on #91
Closed in https://github.com/probonopd/MiniDexed/commit/43e0c1872c576dcbb217e2c54a51cee12049b112

Thanks @rsta2

[2022-04-20 19:09] #91 closed

[2022-04-20 19:21] #111 closed

[2022-04-20 19:30] ebrown3k opened #125 "Feature request - switchable performance.ini files"
I think adding a way to have multiple performance.ini files and swap them through the UI/menu would add a ton of usefulness to this in a live performance setting.

[2022-04-20 19:40] probonopd commented on #125
Maybe a structure similar to sysex should be used, along the lines of `performances/001_PerformanceName.ini`, `performances/002_PerformanceName2.ini`

[2022-04-20 19:42] probonopd commented on #82
Note to self: Test this in https://synthmata.github.io/volca-fm/, an editor that runs purely in the browser.

[2022-04-20 20:10] ChKK1963 commented on #121
Hi, just tested your release:

CC10 (Pan), 71 (Resonance) and 74 (Cutoff Frequency) are working fine.

For CC 94 (Detune) I am not sure if this works as intended - this only seems to tune things up. If I have one track running without using the 94 CC and another one with the CC 94 sent, they are only in tune for a CC value 0. Everything other value tunes the track up.

For the 0 value this seems t

[2022-04-20 20:20] probonopd commented on #121
Thanks for testing @ChKK1963.

Most definitely! We need to fix this.

I was blindly assuming that this was how it was intended, but thinking about it, the DX7 was made at a time when Yamaha (mis)read the MIDI spec for the first time and thought values should go from 0 to 99.

Note to self, TODO: Hook up Dexed on the PC and have it output to MiniDexed, hooked up to HDMI with MIDI logging enabled. T

[2022-04-20 20:26] probonopd commented on #121
Fun fact:

MASSEY, H. (1986). The complete DX7. New York, Amsco Publications. [ISBN 0825610710](https://www.worldcat.org/title/complete-dx7/oclc/869043541)

[2022-04-20 20:34] probonopd commented on #121
According to the DX7 user manual, page 6:

According to the DX7 user manual, page 32, Master Tune is 0-127.

[2022-04-20 20:52] ChKK1963 commented on #121
OK, this sounds for me like using “1” for 75 cents down, “63” in the middle as “in-tune”,  and “127” for 75 cents up would make sense. “0” must be “in-tune” according to the Midi spec.

Also just noticed that if you detune a Midi channel and then send a bank/program change to switch to another sound, it stays detuned. Again, something not specified anywhere if a program change should reset this ..

[2022-04-20 20:55] probonopd commented on #121
Sooner or later we are going to need a DX7 or DX7s owner to do some comparisons...

[2022-04-20 20:58] ChKK1963 commented on #121
Sold mine about 20 years ago ...

[2022-04-20 21:36] diysynth commented on #48
Hello, I just want to mention that I also get stuck notes with minidexed quite often running on my Raspberry Pi 3B with different usb controllers. First I tested MiniDexed with a Yamaha hardware sequencer via an usb/midi adapter and got stuck notes very often. Disabling the midi clock on the output helped a bit, but still notes got stuck. Same problem occurs when using that usb/midi adapter and se

[2022-04-20 21:42] probonopd commented on #48
Welcome @diysynth. Will open a separate ticket for the All Sound Off (CC 120, value 0) and All Notes Off (CC 123, value 0) MIDI messages .

[2022-04-20 21:43] probonopd opened #126 "Support CC messages for All Sound Off and All Notes Off"
* All Sound Off (CC 120) should trigger Synth_Dexed `void panic(void);`
* All Notes Off (CC 123) should trigger Synth_Dexed `void notesOff(void);`

[2022-04-20 21:51] diysynth commented on #126
Thanks alot!

[2022-04-20 21:54] probonopd commented on #48
@diysynth which exact usb/midi adapter are you using?

[2022-04-20 22:04] diysynth commented on #48
Miditech Midilink Mini

[2022-04-20 22:17] probonopd commented on #48
Interesting. With my self-built one I don't get stuck keys, https://github.com/probonopd/MiniDexed/issues/48#issuecomment-1079971242.

[2022-04-20 22:23] probonopd commented on #126
it would be interesting to know how the TX802/TX816 behave here: Do they interpret this per Tone Generator or globally for all TGs?

[2022-04-20 22:26] probonopd commented on #91
Fwiw, I found the official values documented in the TX816 manual:

![image](https://user-images.githubusercontent.com/2480569/164335085-1f452a59-dac4-4240-b18e-82076ef0e3d6.png)

[2022-04-20 22:54] diysynth commented on #48
Directly sending MIDI to there serial input or a diy usb adapter? I couldn't sleep before testing it again. Is the usbboost=true option rsta2 was talking about already enabled? I added this to cmdline and I couldn't reproduce the failure again. At least not with reaper. I tested it with arpeggiators on two different midi channels at absurde rates (up to 360 bpm) and the only time I got stuck notes

[2022-04-20 22:57] probonopd commented on #48
Directly sending MIDI to the serial input _never_ produced any stuck notes. Which makes sense since the stuck notes are a USB thing.

When using my selfmade adapter, I also didn't get stuck notes so far. Not _all_ USB devices are prone to produce those.

`usbboost=true` is not implemented yet.

Some day? I've implemented it, it's waiting for your test :-)

[2022-04-20 23:09] diysynth commented on #48
Will test it tomorrow evening. Thanks alot!!

[2022-04-21 06:45] rsta2 commented on #48
`usbboost=true` will come with the next release of the Circle framework (around end of May), which is used by MiniDexed. I suppose this will improve the situation very much, but some MIDI events may still get lost with it on the Raspberry Pi 1-3 and Zero. An open question is, if the USB MIDI driver should automatically generate an "All sound off" MIDI event, in case it detects an error on the USB?

[2022-04-21 06:52] #126 closed

[2022-04-21 06:57] probonopd commented on #48
Would probably be better. Ideal would be to have a config option for it.

[2022-04-21 14:52] rsta2 commented on #105
See #129.

[2022-04-21 16:34] diysynth commented on #48
So I tested it. Note Off CC and Sound Off CC both instantly mute the sound when they receive a 0. This just makes it so much better do deal with stuck notes. Pressing the stop button on my daw now stops all the sounds from MiniDexed, that's very convenient. Notes still stuck occasionally but mostly when doing things like disabling midi arp plugins while the transport is runnig. Pretty sure that is

[2022-04-21 16:54] #105 closed

[2022-04-21 18:18] miotislucifugis opened #134 "Disable Restart when using the menu Shortcut"
First, great work everyone!  Im eagerly following the progress!

one suggestion:   A few time i have accidentally triggered a reset while i was using the menu shortcut (pressing the encoder button  and scroll)  to compare settings in the TGs.   It seems to take about 10 seconds to initiate the restart, which is generous... but with this wealth of TGs, one can easily loose track of the seconds when

[2022-04-21 18:24] probonopd commented on #134
Happened to me once, too. If I understand @rsta2 correctly, then the functionality you describe is not that easy to implement. Or do you think you could implement it?

[2022-04-21 18:31] miotislucifugis commented on #134
Sorry, I havent even looked at the code, im sure it is over my head anyway.  If it is difficult to change, no worries.  It is definitely not a make or break issue
best

[2022-04-21 18:59] rsta2 commented on #134
Perhaps this [reboot code](https://github.com/probonopd/MiniDexed/blob/995b25c71a4ef2a5fb8c98e77f00d2088dea36f7/src/userinterface.cpp#L212) should be totally removed? It was intended for development purposes, but 10 seconds is already very long, so switching it off and on again seems to be already quicker now.

[2022-04-21 19:03] probonopd commented on #134
Well, maybe it's useful as a last resort in some strange circumstances. Setting the timeout to 120 seconds for now.

[2022-04-21 19:05] #134 closed

[2022-04-21 20:04] #121 closed

[2022-04-21 20:05] probonopd commented on #121
@ChKK1963 tuning works as intended now. I had not scaled some of the CCs properly.

[2022-04-21 20:50] ChKK1963 opened #136 "Sustain CC (64) not handled correctly"
After attaching my Raspi to my master keyboard with a sustain pedal, I observed an issue with sustain pedal handling. Midi sustain is sent as CC 64 - a value of 127 is sent when the pedal is held down, a value of 0 is sent when it comes up again.

While the pedal is pressed all notes should sustain, when the pedal comes up, all sustaining notes must be stopped (well technically not hard stopped bu

[2022-04-21 20:52] probonopd commented on #136
Can you please test with [Dexed](https://github.com/asb2m10/dexed) on the PC?

[2022-04-21 21:25] ChKK1963 commented on #136
Tested on PC, behaves as expected

[2022-04-21 21:27] probonopd commented on #136
I guess this would need to be fixed in [Synth_Dexed](https://codeberg.org/dcoredump/Synth_Dexed) @dcoredump?

[2022-04-21 21:30] ChKK1963 commented on #136
One additional note: what is done correctly by MiniDexed is the handling of notes already played where the keys are still held down when the sustain pedal is pressed. These notes started before the sustain pedal will sustain when the pedal is pressed when the keys are released as expected. But their sustain phase is also not ended when the pedal comes up again.

[2022-04-22 06:07] dcoredump commented on #136
Thanks for reporting @ChKK1963 !

I will take a look at this asap.

[2022-04-22 12:47] paulsijben opened #139 "3D printable case"
Has anyone come up with a 3D printable case that mimics the styling of the original synths?

[2022-04-22 13:25] craigyjp commented on #139
I built it into this one to make it more professional....

[2022-04-22 15:28] ebrown3k commented on #139
I am working on a 3D printed case in the form factor of a Korg Volca. The issue is it will take some special parts to get it to fit in the limited height complicating the build. I will also be custom designing it for the specific Pi version and DAC I ordered so I don't know how useful it would really be for a wide range of users.

[2022-04-22 17:24] probonopd opened #140 "Raspberry Pi 1 nonfunctional"
Raspberry Pi 1 seems to be nonfunctional since at least 2022-04-05:
The last message is `minidexed: Serial MIDI interface enabled`, thereafter it seems frozen.

On 2022-02-28 it was definitely working:
https://github.com/probonopd/MiniDexed/issues/12#issuecomment-1054505774

Raspberry Pi Zero continues to work, also in the latest builds.
What gives?

[2022-04-22 18:15] dcoredump commented on #140
Can you try to make a diff between both commits?

[2022-04-22 18:18] probonopd commented on #140
Unfortunately I didn't keep all the old builds. So will have to rebuild and bisect all commits until we know which one caused this.

Maybe someone reading this has some free time and can do this somewhat tedious task?

[2022-04-22 18:18] dcoredump commented on #139
My case is not ready yet, but here are some pictures.

![PXL_20220422_181629662.jpg](https://user-images.githubusercontent.com/5188678/164771930-e5ee5c73-7557-4eb7-9626-9b25919e4836.jpg)

![PXL_20220422_181637060.jpg](https://user-images.githubusercontent.com/5188678/164771900-826b86cf-445f-4916-af9d-8ec98a2b5e91.jpg)

[2022-04-22 18:23] luisfcorreia commented on #140
I "might" give it a go, I'll try to get on of the old ones and try with a DAC I have, that doesn't use GPIO pins

(in the meantime, does anyone have the proper pinout for I2S in Raspberry Pi one?

[2022-04-22 18:27] craigyjp opened #143 "Midi led indicator"
Just wondering if it's possible to use a couple of gpio pins or maybe just one to indicate midi activity? I can easily add it on the UART input and output by buffering these lines to drive LEDs, but it would be nice if any USB or DIN midi was indicated.

[2022-04-22 18:29] probonopd commented on #140
We had started to brainstorm a pinout that works for all RPi models including 1 but never concluded the brainstorming:

https://github.com/probonopd/MiniDexed/issues/38#issuecomment-1062069267

 So if you'd like to propose one, that would be cool. Now that more than just 3 people are building MiniDexed rigs we should come up with the default pinout sooner rather than later.

[2022-04-22 18:31] probonopd commented on #143
I was actually wondering whether we should use the Raspberry Pi built-in LED to blink when there are MIDI messages. Would it interfere with sound performance @rsta2?

[2022-04-22 18:34] probonopd commented on #28
Looking at https://github.com/craigyjp/16bit-MIDI-to-CV-polyphonic-converter it seems lke you know a few things about CV @craigyjp. What do you think about this idea? (Personally I am not interested in CV since I have zero devices that support it, but I know that it'd be interesting for many MiniDexed users.)

[2022-04-22 18:34] luisfcorreia commented on #140
oh well, I2S connections are done outside standard GPIO, and only available for the SECOND rpi1 release

as seen here:

https://blog.sengotta.net/connecting-a-pcm5102a-breakout-board-to-a-raspberry-pi/

[2022-04-22 18:35] craigyjp commented on #143
I don't know how that would work on a pi400 as I don't have access to these LEDs to bring to a front panel.

[2022-04-22 18:36] probonopd commented on #140
Luckily almost no one has the first RPi 1 release.

[2022-04-22 18:39] craigyjp commented on #28
A couple of assignable CV inputs might be useful, things like cutoff, resonance, amplitude or LFO speed are quite useful. FM is quite complex unlike subtractive synthesis, so a small change can have a big impact.

[2022-04-22 18:39] probonopd commented on #143
Wait, you are "wasting" a percious 400 for MiniDexed? ;-)

[2022-04-22 18:40] luisfcorreia commented on #140
I think I still have some, let me check :P

[2022-04-22 18:41] probonopd commented on #28
So a USB device that would convert the CVs to MIDI CCs and/or sysex would probably the most flexible solution? Could be done e.g, on a Raspberry Pi Pico running Python for maximum hackability.

[2022-04-22 18:42] craigyjp commented on #143
Like I said, it's currently all I can get hold of here in the Ukraine, there is a bad man called Putin making things hard for me, I will swap it out with a Pi 3 when I get the chance.

[2022-04-22 18:44] craigyjp commented on #28
I don't know much about the pi, does it not have ADC inputs?

[2022-04-22 18:48] luisfcorreia commented on #140
yup, have at least two of them (I'm a collector)

[2022-04-22 18:49] probonopd commented on #139
For extra authenticity, I recommend a 3D printed knob in this color:

![image](https://user-images.githubusercontent.com/2480569/164776134-95d26d77-0aa8-4d3c-8e02-bf13832669dc.png)

[2022-04-22 18:50] probonopd commented on #140
Wow. You must have been a very early bird on the RPi train then :+1:

[2022-04-22 18:52] luisfcorreia commented on #28
Here's my humble opinion:
the DX7 is a digital synth, it makes little to no sense (for me) to have anything analog controlling it.

Having said that, no Raspberry Pi has Analog Inputs, you would need a secondary microcontroller, like a Raspberry PICO ou any Arduino, extra hardware for allow for standard CV voltages (Eurorack style)
And even then, without extra hardware, you would still be limited

[2022-04-22 18:55] probonopd commented on #28
Personally I tend to agree but I don't pretend to know anything about how CV works and what its limitations are.

[2022-04-22 18:56] luisfcorreia commented on #28
I do know how CV works, for this specific application, it's a bit pointless (but doable)

[2022-04-22 18:58] probonopd commented on #28
OK, then let's not bother until someone _really_ needs this (and does it) ;-)

[2022-04-22 18:59] luisfcorreia commented on #140
yeah, I've met one of the developers (Rob Bishop) in a conference here in Portugal

[2022-04-22 19:00] craigyjp commented on #28
Yes, but it was a specific case for integrating into Eurorack. These guys are mental when it comes to tweaking, but you could easily convert CV to midi for most functions. I can't see the point of altering voice parameters in an FM synth on the fly with CV.

[2022-04-22 19:02] luisfcorreia commented on #140
back in 2012
(not my blog)
https://abertoatedemadrugada.com/2012/11/camara-para-o-raspberry-pi-aparece-pela.html

[2022-04-22 19:03] dcoredump commented on #143
Please send me an email. I will try to send you a RPi3.

[2022-04-22 19:03] luisfcorreia commented on #28
yes @craigyjp it is a LOT easier to just grab a CV-to-MIDI Eurorack module and connect it to the Raspberry then to try and do it "by ourselves"

[2022-04-22 19:10] craigyjp commented on #143
I appreciate your offer, but please you don't have to. We are probably going to try to relocate to Bulgaria in the next few weeks depending on how it goes, currently we are safe in Dnipro and not in any danger (yet). The reason we have not left is we have an 18 year old son and we can't cross the border with him as he of fighting age, but he is slightly disabled so we are trying to get docs to all

[2022-04-22 19:43] craigyjp opened #144 "Midi thru switchable from menu"
I love the fact that midi thru is an option, but it would be nice if it could be configured globally, maybe a MIDI menu with the out/thru selection and the destination options.

[2022-04-22 20:00] luisfcorreia commented on #140
Getting back to debugging, I've just connected my Raspi 1 to an HDMI display
(using PWM as selected output, no LCD or Encoder, full debugging)

Doesn't make a sound but it's also _NOT_ locked up

[2022-04-22 20:07] probonopd commented on #140
How do you know?

[2022-04-22 20:14] luisfcorreia commented on #140
with full debug, if you have a midi keyboard connected, pressing keys show them on screen
and it keeps scrolling without issue

[2022-04-22 20:15] probonopd commented on #140
Interesting, it didn't seem to do that for me... are you sure you have configured pwm output on yours? (For the headphone jack). In case your HDMI screen has speakers, try that as well please.

[2022-04-22 20:18] luisfcorreia commented on #140
PWM is selected, HDMI screen does not have speakers

[2022-04-22 20:18] probonopd commented on #144
What is your use case for it? I thought this is something one doesn't want to change very often, and hence thought an option in `minidexed.ini` would be sufficient.

[2022-04-22 20:20] probonopd commented on #140
Looks like it is `git bisect` time then ;-)

[2022-04-22 20:26] craigyjp commented on #144
I thought it would be a useful feature if midi with an editor to have the option of thru or out. Also could be used as a midi/usb converter. Just seemed a more logical way of using it, most soft synths I have are switchable from the menu for thru or out. Even some 30 year old effects I have can be switched between thru and out from a menu.

I can add a thru easily enough, I built a MIDI interface

[2022-04-22 20:27] probonopd commented on #144
How are your C++ skills? Do you think you could try it?

[2022-04-22 20:29] craigyjp commented on #144
Clumsy at best, you have seen my code. But I can take a look tomorrow. Too much beer tonight hence throwing out ideas

[2022-04-22 20:36] luisfcorreia commented on #140
yes, bisecting to that produces sound indeed (on PWM)

[2022-04-22 20:42] probonopd commented on #140
To ease your pain, I am working on netbooting the MiniDexed firmware :-)
https://github.com/probonopd/CircleNetboot (not quite there yet...)

[2022-04-22 20:43] luisfcorreia commented on #140
networking is neat for syslog debugging

but if you want me to bisect to another point, I'l test it
Will be around here for another hour or so

[2022-04-22 20:44] probonopd commented on #140
"Bisect" means:

https://git-scm.com/docs/git-bisect

[2022-04-22 20:46] probonopd commented on #140
We now know that d86a453 was still good. My guess would be that f98f5db is bad. So the question is, which one in between was the first bad one.

[2022-04-22 22:25] luisfcorreia commented on #140
that only works once, next boot is done using uploaded kernel file

[2022-04-22 22:27] probonopd commented on #140
Correct. But you can replug power and then upload another one. Saves dealing with the SD card.

[2022-04-22 22:29] luisfcorreia commented on #140
ok, gotcha

(now I'll need a reset button)

[2022-04-22 22:53] luisfcorreia commented on #140
yeah, THANKS

this works so much better!!!

also this? a VERY nice touch!
tftp -m binary IP -c put kernel.img

[2022-04-23 00:27] lazzarello opened #147 "PiSound as DAC"
This project came up in [a topic on the PiSound forum](https://community.blokas.io/t/bare-metal-pisound/2966/7?u=lazzarello) regarding working with a DAC outside of a Linux kernel. I installed the latest SD card release but the DAC on the PiSound doesn't work by default. Could be interesting to add support for it's audio out + 5 pin DIN MIDI connectors.

[2022-04-23 06:12] probonopd commented on #147
Hello @lazzarello.

Currently PCM5102A and PCM5122 based DACs are supported, and WM8960 is in the works.

From looking at https://blokas.io/pisound/ I can't even figure out which chipset it uses. It is not even mentioned on https://blokas.io/pisound/docs/specs/. Do you know?

[2022-04-23 06:17] craigyjp commented on #147
I heard from a guy on Facebook that is building 8 of these onto Zero devices that the UDA1334 24/96 DAC works perfectly well.

[2022-04-23 06:22] probonopd commented on #147
Acording to https://github.com/dwhinham/mt32-pi/wiki/I²S-DACs the UDA1334 might be 1:1 compatible with the PCM5xxx and might hence work on MiniDexed as is.

According to the same source, the  Blokas Pisound uses a PCM5102A so it _should_ work, too. But I don't have one to test.

[2022-04-23 06:25] dcoredump commented on #136
Hi @ChKK1963 @probonopd

I hope I fixed this problem. Currently I don't have hardware for testing, but I am nearly 100% sure that the problem should be fixed. The code for the fix is taken from MicroDexed where sustain handling was working,

Please fetch the latest master for Synth_Dexed.

Reagards, Holger

[2022-04-23 06:58] probonopd commented on #136
Thanks @dcoredump. A build is available for testing but I need to somehow trick my MIDI controller into behaving like a pedal to test it. :)

[2022-04-23 07:31] #136 closed

[2022-04-23 08:10] rsta2 commented on #143
At the moment the Act LED is dedicated for the SD card activity. I think `CActLED::Blink()` cannot be used for that purpose, because it pauses the execution for the given blink time. Instead you have to use `CActLED::On()` and `CActLED::Off()` and use a kernel timer, which is started, when a MIDI event comes in, and canceled and restarted, when another event arrives. When the kernel timer expires

[2022-04-23 08:54] probonopd commented on #143
Exceeds my C++ skills for the moment. If anyone wants to implement it, a PR would be welcome.

[2022-04-23 09:40] ChKK1963 commented on #136
Thanks a lot for (likely) fixing this. Unfortunately I can likely not test this before Monday, travelling …

[2022-04-23 12:12] timknab commented on #136
Thanks for the fix! I can confirm that my sustain pedal is now working correctly.

[2022-04-23 12:15] probonopd commented on #136
Thanks for letting us know @timknab!

[2022-04-23 12:38] craigyjp commented on #143
Managed to get a Pi 4 today, mounted it in my case so I have access to the SD card for future releases.![20220423_152035.jpg](https://user-images.githubusercontent.com/51026305/164894856-5e04d199-f7e5-439e-b8e4-1fd847ffe5aa.jpg)

[2022-04-23 13:00] craigyjp commented on #125
The original DX7 only had one performance mode unfortunately, but the MK2 and S models had 32 or 64 performance modes. So it would be nice to have the extra performance patches.

[2022-04-23 13:07] craigyjp opened #151 "When saving the performance the sounds is garbled afterwards."
I setup a performance, just midi channel changes and voice/pan/volume assignments and straight away the sound was garbled after double clicking the performance save.

Powering off and on fixed the issue, this is the second time it's happened to my build. First with a Pi 400 and now with a Pi 4 rev B.

[2022-04-23 14:44] miotislucifugis commented on #151
Ive also experienced this,  using a Pi 3.

[2022-04-23 17:58] probonopd commented on #143
Not so sure I like what I am seeing with regards to mains power... it could be very dangerous. At the **very** least use some shrink tubing! But I am not an eletrician, so I strongly advise anyone to use an unmodified USB power supply.

[2022-04-23 18:01] craigyjp commented on #143
Yeah I understand, bit it's in a 3mm thick plastic box so well insulated. I have some shrink tubing I should stick over those terminals and the power switch, I was just being lazy as I used shrink on the led connections.

[2022-04-23 18:59] luisfcorreia commented on #140
I "know" I'm doing things wrong.
Yesterday I did the full bisect/compile/test run from the "known good" commit and current head but at the end, it continue to work all the way.

However, I think that bisecting to an earlyer build would require "submodule clean and recompile" and I might been doing this wrong

so, after an hour of tests, I didn't come to _any_ conclusion

[2022-04-23 19:06] probonopd commented on #140
Are you saying that https://github.com/probonopd/MiniDexed/commit/d86a45324fa29e70df5cabf829ba489a34230495 and https://github.com/probonopd/MiniDexed/commit/f98f5db10de916556f2f6c86ce806996d9e0ac25 are both _working_ for you?

[2022-04-23 19:19] luisfcorreia commented on #140
no, not really

you see, sometimes when I "git bisect bad" and it goes to another commit, it gives out compile errors.

my solution for now is to "git submodule update --init --recursive" but even that fails sometime

so, unless I'm being VERY dumb, I don't get it why going back in time makes compiles to fail...

[2022-04-23 19:38] probonopd commented on #140
You must make sure that the git submodules are up/downgraded to match what the respective version of MiniDexed needs.

[2022-04-23 19:40] luisfcorreia commented on #140
help is apprece

git submodule update
fatal: remote error: upload-pack: not our ref 86dba9826c21295e72a8a38b17e1f2c001579310
fatal: Fetched in submodule path 'Synth_Dexed', but it did not contain 86dba9826c21295e72a8a38b17e1f2c001579310. Direct fetching of that commit failed.
fatal:

ated

[2022-04-23 19:40] luisfcorreia commented on #140
restarting the process :)

[2022-04-23 20:26] luisfcorreia commented on #140
well, you know what?

it now works with teh most recent commit, can you test with yours?

[2022-04-23 20:31] luisfcorreia commented on #140
yup, it works in RPI1 (PWM) using TFTP booted kernel file
https://github.com/probonopd/MiniDexed/commit/addbd45282e93d71e3faf0198acb8ddac92e447b

[2022-04-23 20:34] probonopd commented on #140
HDMI too?

[2022-04-23 20:35] luisfcorreia commented on #140
maybe, let me test (it's a pain to setup)

[2022-04-23 20:38] luisfcorreia commented on #140
yes, HDMI also produces sound

whatever it was, it was fixed...

did we have a Synth_Dexed update in the meantime?

[2022-04-23 21:20] fp64lib opened #156 "Configurable to ignore MIDI program change messages"
I have a setup with several synths, all connected via MIDI and also to central MIDI master keyboard. Usually, I want most of the synths to keep their current voice and ignore any MIDI Program Change messages. Most synth have a parameter for that like "Enable RX CC change". It would be great to have something similar on the MiniDexed as a changeable global parameter.

I already implemented a quick

[2022-04-24 06:36] probonopd commented on #140
I am puzzled. Can it be that only our self-compiled ones work but the downloaded compiled ones don't?

[2022-04-24 06:42] probonopd commented on #156
Thanks @fp64lib. Out of curiosity, why don't you run your different synths on different MIDI channels, so that the program changes would be received only by the synth you want to change the program on?

How do you switch between patches with MIDI Program Change messages disabled? Always using the menu?

[2022-04-24 06:51] probonopd commented on #156
Please test
https://github.com/probonopd/MiniDexed/suites/6235882911/artifacts/221385951

Thanks!

[2022-04-24 06:52] probonopd commented on #156
Not if you do your new changes on a different branch, and then create a pull request from that new branch. Hint for the next time ;-)

[2022-04-24 07:00] probonopd commented on #140
And does it make a difference wheher you load it via Ethernet or SD card?

[2022-04-24 07:02] luisfcorreia commented on #140
dunno, will test that later

[2022-04-24 07:12] probonopd commented on #140
Starting to consider that I might have fried 2 RPI 1s...

[2022-04-24 07:13] fp64lib commented on #156
All my synth run on different MIDI channels. Problem is that there are only 16 MIDI channels,  some devices support multiple voices in one track / song. So some devices have to share channels. So I usually use set most of the synths to ignore program change, and change the voice via menu.

For the MiniDexed, I am not yet decided on whether I like the setup of one MIDI channel per voice (which bloc

[2022-04-24 07:17] luisfcorreia commented on #156
as I do for my other FM Synth, I've reserved a specific sub-midi adapter just for it

(adapters are cheap)

[2022-04-24 09:56] fp64lib commented on #156
Works fine as expected, no problems. Thanks!

[2022-04-24 09:58] probonopd commented on #156
Ah, now I understand.

[2022-04-24 09:59] #156 closed

[2022-04-24 10:50] probonopd commented on #139
Working on a 3d printable case (here: for the Raspberry Pi Zero) that can be assembled without any tools.

There is something about snap-fit 3d printed cases that I really like. Maybe it's their hackability which makes everything accessible at any time without any tools.

Turn on the sound to hear those satisfying clicks :100:

https://user-images.githubusercontent.com/2480569/164972750-211dfeb2-e

[2022-04-24 10:59] fp64lib opened #160 "Small SD cards do not work correctly"
To speed-up testing, I use several Micro SD-cards. One of them was a 128MB card - which is absolutely fine: even with 26 sound banks, the entire MiniDexed only takes up about 16MB. The small SD card is properly detected during boot, however neither the sound card settings nor the additional voices are read from the card. So the synth always uses PWM mode, does not load the LCD, does not use the ro

[2022-04-24 11:25] probonopd commented on #160
Please reformat your small SD card with the FAT32 filesystem and try again.

[2022-04-24 11:35] dcoredump commented on #143
I am an electrocian and I would highly recommend to insulate all mains voltage contacts somehow! At least with insulating tape but heat shrink tubing is usually better because no adhesive that gets old is involved.

[2022-04-24 11:38] craigyjp commented on #143
Next time I pop the lid off I will add some, I have been into electronics for 48 years now, pretty sure it's safe, no one but me will ever open it. Well maybe the Russians will if they loot it from my house with the rest of the Ukrainian peoples property.

[2022-04-24 11:40] dcoredump commented on #143
My old D110 (the successor of the MT-32) had a kind of level-meter on the display for every part.
I made the same for the two instances of Dexed for MicroDexed, so no LEDs and GPIOs are involved. And the Raspi has much more CPU power than a Teensy.
The update of the LCD does not need to be done at audio rate, it is totaly ok when updating at control rate (maybe 10 times a second).

[2022-04-24 11:44] craigyjp commented on #143
That's a nice idea, I have an SC55 which does the same thing, shows you
which TG is getting activity. Would be good to see based on velocity levels
0-127 I guess, or just blocks for each TG.

On Sun, 24 Apr 2022, 14:40 Holger, ***@***.***> wrote:

[2022-04-24 12:40] paulsijben commented on #139
nice!
I was still in doubt whether to use the zero 2 or the pi 3 leveraging the latter's USB ports

[2022-04-24 12:43] probonopd commented on #139
The connectors on the Zero suck. A Pi 3 Model A might be the sweet spot, unless we start using Networking one day.

[2022-04-24 12:52] paulsijben commented on #139
true but I have never seen a 3A in the flesh so to speak. I do have a 3b laying around ;-)

[2022-04-24 13:32] fp64lib commented on #160
Sorry for not mentioning it: I did that already before raising the issue. But just re-checked it. No difference, it still does not work.

[2022-04-24 14:12] probonopd commented on #160
Can you reproduce the same issue with https://github.com/dwhinham/mt32-pi/?

[2022-04-24 15:36] fp64lib commented on #160
Yes, there the situation is even worse: An identical image does not work at all on the small Micro SD card, you can clearly see the harddrive LED that the roms are not loaded. Seems to be a problem of the low-level FAT or directory routines.

[2022-04-24 16:20] probonopd commented on #160
In this case you might want to report it over at https://github.com/rsta2/circle/issues/. Once it is fixed there, it will be fixed in MiniDexed.

[2022-04-24 17:14] probonopd opened #163 "Change default pinout"
__EDIT: The pinout in this post is outdated. See newer posts below for the recent one.__

Continuation from [here](https://github.com/probonopd/MiniDexed/issues/38#issuecomment-1062155490):

For maximum device compatibliity (including Raspberry Pi 1), we want to have a pinout that needs none of the extra pins introduced with the Raspberry Pi 2.

Since more and more people are building their hardwa

[2022-04-24 17:19] craigyjp commented on #163
You still have 4 pins assigned to the LCD on your second diagram, surely those will not be needed if your are using I2c?

[2022-04-24 17:26] probonopd commented on #163
Thanks @craigyjp, updated.

[2022-04-24 17:27] dcoredump commented on #163
I am using I2C displays for my [MicroDexed](https://codeberg.org/dcoredump/MicroDexed) project. In fact, cabling is easier and the I2C versions have a small pot for setting the contrast on the back side.

On the other side you only can define up to 8 or 10 self defined icons. I don't know if this is a library or  a hardware limitation, but sometimes more than 8/10 self defined icons are necessary

[2022-04-24 17:35] dcoredump commented on #143
I created a full block when a keydown MIDI event arrives on a channel. If a keyup occurs a "blank icon" is displayed. Between those events (inside control rate) I slowly count down and show icons with lower "black" parts until only one black line at the bottom is left (you only have 5*8 pixels, so 8-1 states are shown). This line is also shown for sustained notes and disapear after sustain is rele

[2022-04-24 17:44] craigyjp commented on #143
I did something similar with a Roland A110 emulator that I built recently.

On Sun, 24 Apr 2022, 20:35 Holger, ***@***.***> wrote:

[2022-04-24 20:18] fp64lib commented on #160
Card has definitely FAT32 file system on it. I raised issue #288 to https://github.com/rsta2/circle/issues/, see link above. Hope they find something.

[2022-04-24 21:10] probonopd commented on #139
It's alive!

![minidexed-1](https://user-images.githubusercontent.com/2480569/164996673-5de60558-3bf9-416d-8545-f05bc6e7b3fb.jpg)

[2022-04-24 21:11] craigyjp commented on #139
Nicely done

[2022-04-24 21:23] probonopd commented on #163
Successfully built a unit with the first pinout above (no i2c).

[code]

If there are no objections, this will become the default soon-ish.

[2022-04-24 21:25] probonopd commented on #163
@rsta2 what should one write in `LCDPinReadWrite` if LCD pin 5 (RW) is attached to a GND pin directly?

[2022-04-24 23:37] probonopd opened #166 "Don't show "Reverb-Send" on RPi Zero/1"
Since there is no reverb on RPi Zero/1, the menu entry for "Reverb-Send" should not be shown there.

[2022-04-25 04:59] rsta2 commented on #163
Set `LCDPinReadWrite=0`, if RW is directly connected to GND.

[2022-04-25 12:18] miotislucifugis commented on #144
After using the new midi thru feature for a bit,  I have agree that having a switchable midi thru option in the menu would be nice, especially since discovering that the minidexed can also be used as a stand alone usb host device.   very useful.

I can imagine that one would use serial->serial  to connect to a sequencer  or something with "classic" DIN midi and THRU  being used to daisychain other

[2022-04-25 14:43] arsamus opened #168 "Serial MIDI (DIN->Optocoupler->GPIO15) issue"
Hi everybody, i've build a MIDI IN interfaz via optocoupler to connect a keyboard vía tradicional midi cable (schematica below) using GPIO15 (UART RXD). Everything works ok but only if I press one key at a time. If I play chords, just one note is played by Mididexed and if a "note Off" event occurs near another event (in the same message chain) the note continues to playing forever.

It seems that

[2022-04-25 14:47] craigyjp commented on #168
I don't have much success with 6n devices, I tend to use 4n devices, this one works perfectly with a midi keybed playing chords and sequences.![Screenshot_20220425-174611_Acrobat for Samsung.jpg](https://user-images.githubusercontent.com/51026305/165113850-4752aa98-5b3f-42cd-aca1-10c50b5f7a83.jpg)

[2022-04-25 14:50] craigyjp commented on #168
Here is the 6n138 version that I started with, check the wiring against yours.

![Screenshot_20220425-174926_Acrobat for Samsung.jpg](https://user-images.githubusercontent.com/51026305/165114518-82f320c9-ee17-4f04-b805-4739f1b3d489.jpg)

[2022-04-25 16:10] Deftaudio opened #169 "I2C display support"
Hi, just wondering, what's the current plan on this? I'm willing to further reduce the size of MiniDexed and just limited with parallel LCD options... In particular, OLED 128x32 would be the best.

[2022-04-25 16:12] luisfcorreia commented on #169
my current C++ skils are basicly non existing

user Interface should have two things detached, display and encoder handling

I tried, without success

[2022-04-25 16:48] probonopd commented on #169
i2c display support would need a volunteer to write it. The proper way would be to get those displays supported in [Circle](https://github.com/rsta2/circle/), e.g., by [upstreaming them from mt32-pi](https://github.com/dwhinham/mt32-pi/blob/63dc284de3f7e4926ea143cdd4bce6a091bc9614/include/config.h#L70). Once in Circle, we could think about using them in this project.

[2022-04-25 17:18] Deftaudio commented on #169
I see, thanks!

[2022-04-25 19:36] StephanBeer opened #173 "Yamaha KX-49/KX-25 keyboards are recognized, but no data in the midi debug monitor"
I have been building and trying MiniDexed the last 6 days on Raspberry Pi Zero, Raspberry Pi 1B and Raspberry Pi 3B, but on neither of them i got sound out of MiniDexed when connecting my Yamaha KXs ( https://synthpedia.net/yamaha/kx49/ ) via USB. First i thought i messed up the configuration files or its sending on the wrong midi channel, but after trying out all different kind of combinations an

[2022-04-25 22:05] eLuSiVeMiTe commented on #173
Is it class compliant.  (Will it run on windows with no drivers)
Idle curiosity.

[2022-04-26 06:38] probonopd commented on #173
Hello @StephanBeer, please remove `usbspeed=full` from the `cmdline.txt` on the SD card and try again.

[2022-04-26 07:09] dcoredump commented on #82
Just started the work on this 😀

[2022-04-26 14:10] StephanBeer commented on #173
Hey @probonopd and @eLuSiVeMiTe, first off thanks for your work on that wonderfull and exciting project !!

I removed the usbspeed line so that cmdline.txt is blank, but that did not change anything, there is still no midi data incomeing and received from the KX keyboard. Messages from the Triple Play are still received and show up on the screen, PCs and Volume via Fishman Controller working fine.

[2022-04-26 14:19] eLuSiVeMiTe commented on #173
I'm just along for the ride. Wouldn't know where to start with programming. (But I could build you a house)

I had a good dig last night and I can't find any mention of that controller being class compliant (runs on standard drivers)
Im assuming midi input devices need to be class compliant to work?

Try using a usb midi interface and midi din from the Yamaha.

[2022-04-26 14:32] StephanBeer commented on #173
I have been using the Yamaha KX USB keyboards for about 14 years now, on Windows XP, Windows 7, 8 and now 10. As i switched to Linux (for music, recording and composing Windows is stil needed) the last 2 years, the Yamaha KX are gladly showing up in every application or with pipewire, but i guess thats because they are present in the Linux Kernel ? To cut it short i never have tried to use them wi

[2022-04-26 14:43] StephanBeer commented on #173
Plugged the keyboard via USB type B to micro USB to USB C adapter into my android phone, and it is enabled only as a physical keyboard....a keyboard on whih you type, not a midi keyboard. Normally there should be a dialog popup where you can change to midi device ?

[2022-04-26 14:50] StephanBeer commented on #173
It really seems that its not Class compliant, so i will have to switch the Output Mode of the keyboard from USB to the traditional MIDI ports and finish building the serial MIDI ports on my MiniDexed build.

[2022-04-26 20:37] probonopd opened #180 "Make it possible to use TX802 .syx files"
Thanks @bmiller for the following information:

I guess it would be possible to add a check and ignore the parts of the `.syx` file that are not needed? This way, one would not have to edit TX802 `.syx` files by hand for use with MiniDexed.

[2022-04-26 21:24] luisfcorreia commented on #163
I'm trying this new pinout config, to be able to test it with both RPI1 and RPI2

LCD works well in RPI1, does not with RPI2

(same minidexed.ini configuration on both cards)

[2022-04-27 10:28] dcoredump opened #182 "Internal mixer mixes linear and not logarithmic"
... as the subject says... I think panning is also coded linear (I am not sure if this is right). Should it be also logarithmic?

Will fix this soon for internal mixer class (if noone else wants to do this, because I am currently writing the SYSEX engine).

[2022-04-27 22:01] probonopd commented on #182
Great chatch! According to https://sound.stackexchange.com/a/41550,

[2022-04-28 00:24] mungewell opened #183 "PCM5100A DAC support?"
Front page mentions PCM5102A and PCM5122, but do you also support PCM5100A? Or is it not possible?

Local vendor sells 'DAC + button + display' sheilds with line or headphone level output:
https://www.pishop.ca/product/pirate-audio-line-out-for-raspberry-pi/

I'm not expecting the display to work, not at least for a while ;-)

[2022-04-28 06:40] probonopd commented on #183
Hello @mungewell, PCM5100A _should_ be compatible to the PCM5102A but I have not tested it due to the lack of hardware.

[2022-04-28 10:42] diyelectromusic opened #185 "Add more detail on use of voice sysex files in main "Usage" instructions"
Although links are provided to voice ROMs in the "Features" section of the readme, I think it would be useful to add a little more detail to the "Usage" section to cover the fact that they need to be renamed into the bank_name format and placed in a sysex/voice directory.

This wasn't clear (at least to me anyway) when trying to get started with MiniDexed and if this is wrong, then there is no ind

[2022-04-28 10:53] diyelectromusic commented on #140
I've not really followed the versions and thrust of this conversation in detail, so apologies if this is irrelevant, but it if is any help, release MiniDexed_2022-04-16 is working fine on my Raspberry Pi Model B V1 using built-in PWM, LCD 1602 display and a rotary encoder. I've had to move the encoder to GPIO pins 9-11 of course; I've moved LCD RS to GPIO 4 and am not using the LCD RW link (it is

[2022-04-28 11:52] romix123 opened #186 "Weird switch issue"
Hi, I have built a miniDexed with a ky-040, lcd1602 and pcm5102 board on a raspi 2b
Everything works, except the switch. Encoder moves through the menu, but button press does nothing, at least most of the time. Occasionally a press is registered but I can’t figure out when or why.
The switch is ok (press to zero), tried with separate switches, wire to ground, moving input to other gpio, nothing wo

[2022-04-28 11:54] craigyjp commented on #186
Are you double clicking as required?

On Thu, 28 Apr 2022 at 14:53, Ronald ***@***.***> wrote:

[2022-04-28 12:36] romix123 commented on #186
Wow, this is embarrassing. Double clicking does the trick.

don’t be like Ronald, rtfm.

thanks

[2022-04-28 12:38] craigyjp commented on #186
It's ok, I thought the same for a few minutes after building mine. A quick read of the manual fixed it for me.

There is a request to reverse it so one click is enter and double click is back, which is what I would prefer.

[2022-04-28 14:37] dcoredump commented on #82
Update:

I have moved the SYSEX code from MicroDexed into Synth_Dexed (had also to change SYSEX handling in MicroDexed). Now implementing SYSEX features in MiniDexed. Maybe the next days the first test can start!

[2022-04-28 14:41] dcoredump commented on #163
[...]

If the pinout is fixed, perhaps some can create a nice Fritzing oucture with the wiring?

[2022-04-28 16:06] diyelectromusic commented on #88
Re: ClumsyMIDI.

If you leave off the I2C display, Clumsy MIDI works fine with MiniDexed for serial MIDI and the PCM1502 I2S audio output if you configure it for I2S audio.  You have to add the rotary encoded and 1602 LCD as extras as before of course, but GPIO wise it all works out fine.

I have a few notes on this here: https://diyelectromusic.wordpress.com/2022/04/28/bare-metal-raspberry-pi-min

[2022-04-28 16:55] probonopd commented on #140
Thanks for your help testing this.

Raspberry Pi Model B V2 using built-in PWM/HDMI, LCD 1602 display and a rotary encoder also working well. Cannot reproduce anymore. Perhaps I had a bad SD card? Tested using the build from Apr 23 2022.

[2022-04-28 16:55] #140 closed

[2022-04-28 18:15] probonopd commented on #185
Hello @diyelectromusic, would you like to suggest some text for https://github.com/probonopd/MiniDexed/wiki/Files?

[2022-04-28 19:04] diyelectromusic commented on #185
Ah yes, I can do.  Do I just edit the wiki page directly?  Also, isn't it "sysex/voice" not "sysex/voices"?  I think that caught me out at one point...

Then presumably a note can be added to the main readme about the format of voice files?

[2022-04-28 19:16] luisfcorreia commented on #163
Can you please generate a release for testing?

[2022-04-28 20:21] probonopd commented on #185
Yes `sysex/voice/000000_rom3a.syx`

https://github.com/probonopd/MiniDexed/blob/main/getsysex.sh

[2022-04-28 20:37] probonopd commented on #163
According to https://raspberry-projects.com/pi/pi-hardware/raspberry-pi-pcb-versions, I seem to have a Raspberry Pi Model B Revision 2.0 (512MB) because it says `Raspberry Pi (c)2011.12`. ON this one I tested the new pinout successfully, including display and rotary encoder. Did not tests DAC there.

[2022-04-28 20:42] luisfcorreia commented on #163
I have the same board here, will connect additional pins for DAC testing "soon"(TM)

[2022-04-28 20:51] probonopd commented on #163
https://github.com/probonopd/MiniDexed/suites/6304896074/artifacts/226117903

[2022-04-28 20:56] diyelectromusic commented on #163
I believe that last release has the encoder CLK/DAT pins swapped compared to your original diagram and description - is that correct?

[2022-04-28 21:00] probonopd commented on #163
Don't think so, these are the changes:
https://github.com/probonopd/MiniDexed/pull/189/files

Anyway, will be moving LCDPinRegisterSelect from GPIO 27 to GPIO 4 as per your advice now. Then there will be a new round of testing.

[2022-04-28 21:07] diyelectromusic commented on #163
I might be missing something but doesn't that say Clock = 10; Data = 9 compared to the original diagram above where it says Clock = 9; Data = 10?  To be honest, C=10;D=9 means the pins are in the same order as my encoder's pins, so that is what I had used on my V1 Pi anyway, but I was just checking that it was correct - that you'd changed them with respect to your original diagram...?

BTW - Would

[2022-04-28 21:17] luisfcorreia commented on #163
these encoders are IMHO wrongly labelled

there is no Clock and Data, just A and B

[2022-04-28 21:17] diyelectromusic commented on #163
Ignore that - I can tell you it does :)  I'm using a V1 Model B Revision 2.0 with a PCM5102 DAC off the P5 header and all works fine with USB MIDI.

[2022-04-28 21:21] probonopd commented on #163
If the encoder pins are reversed, the encoder goes in the wrong direction. Did I mix it up?

[2022-04-28 21:40] probonopd commented on #163
Gota LOVE snap-fit project boxes. I'd be screwing around with screws otherwise all the time ;-)

[2022-04-28 22:04] probonopd commented on #163
[code]

[2022-04-28 22:06] #185 closed

[2022-04-28 22:17] probonopd commented on #163
Please test:
https://github.com/probonopd/MiniDexed/suites/6306050512/artifacts/226182252

[2022-04-28 22:19] probonopd commented on #163
Yes, but we use what is printed on the PCB so that people know where to hook it up:

![image](https://user-images.githubusercontent.com/2480569/165857079-881853d7-2918-4bd8-ad2a-2b88de54c48d.png)

[2022-04-29 10:38] diyelectromusic commented on #163
All works fine on my V1 Model B Rev 2 with USB MIDI, LCD, encoder (both directions/select) with internal PWM and external (via P5) PCM5102.

Kevin.

[2022-04-29 10:57] diyelectromusic commented on #163
Also fine on my RPi V4 with external PCM5102 and serial MIDI (both on my Clumsy MIDI interface that has no I2C display).  LCD, encoder, audio seem fine.

[2022-04-29 18:58] diyelectromusic commented on #163
Yes I can do that.  With or without solderless breadboard?  i.e. do you just want to show the connections or do you want a practical thing someone could construct (which really needs things pinned into something rather than just "hanging on" by wires)?  So it can be more of a "getting started" diagram than an "informational" diagram?

[2022-04-29 19:14] luisfcorreia commented on #163
I would say, direct connections without any breadboard in between elements

[2022-04-29 19:18] probonopd commented on #163
Yes.

[2022-04-29 19:24] diyelectromusic commented on #163
Ok will do.  The only issue that there are three 5V connections required if you include something to control the brightness of the LCD, so some soldering of wires would be required.  Adding a solderless breadboard as a breakout means the only soldering is headers, but I'll have a go and see what it looks like!

[2022-04-29 19:28] probonopd commented on #163
Who needs brightness control ;-)

[2022-04-29 20:15] diyelectromusic commented on #163
OK, well there is something like this...?
![RPi-miniDexed-DefaultPins-Wires_bb](https://user-images.githubusercontent.com/68612569/166063159-0a1cb40b-3743-425c-bf9c-cb5b5abe75a4.png)

[2022-04-29 21:59] Braincell1973 commented on #163
Just my 2p worth but I built a mt32pi with serial based midi ports and a dac and encoder along with an i2c display........ Wouldn't the best idea to work towards would be an identical pinout so a change of sdcard can swap between mt32pi and minidexed ??

[2022-04-30 03:24] Kirtai commented on #48
Could this be MIDI Running Status again?

[2022-04-30 04:16] hizzlekizzle commented on #163
I just messed around with this new pinout and found it much, much easier to work with, so cheers for that.

[2022-04-30 08:13] probonopd commented on #163
Thanks @diyelectromusic.

Are you sure the LCD backlight is driven correctly (with a resistor) when attached this way?

Also, the additional resistor or potentiometer for the contrast should be attached to the LCD between V0 and GND.

[2022-04-30 08:16] probonopd commented on #163
@Braincell1973 mt32pi is using i2c for the display and uses a pinout that doesn't work with the original Raspberry Pi ("1").
If someone would like to use mt32pi hardware with MiniDexed, some manual editing of the pin configuration will be needed as we want to support all Raspberry Pi models by default.

[2022-04-30 08:57] probonopd commented on #48
If Running Status was at work here, then some keyboards would use Running Status _very_ selectively. I don't think this is the cause here, but I will test for sure.

[2022-04-30 12:27] diyelectromusic commented on #163
No, so if someone wants to say what they want to use, happy to do that - I had a pot wired in in mine on the breadboard, but took you are your word on "who needs brightness control" and assumed you literally just wanted the connections showing rather than an actual circuit.

One thing though, if lots of components are added it stops being a "wiring diagram" pretty quickly and then in my view ought

[2022-04-30 12:53] probonopd commented on #163
Like this:

![image](https://user-images.githubusercontent.com/2480569/166106416-3788d818-706a-4ce4-8cb6-c754b435ff01.png)

[2022-04-30 13:02] luisfcorreia commented on #163
to make things _clear_:

Contrast is LCD's pin 3 (should be adjustable)
Backlight on pins 15 and 16 are Brightness

[2022-04-30 13:05] probonopd commented on #163
This is how I was driving my backlight using the resistor that is already on the PCB. Pins 15 and 16 stay unpopulated:

![image](https://user-images.githubusercontent.com/2480569/166106487-bd9f1ca5-63e7-4b3c-84f3-8b8c286dc783.png)

Turns out I was doing it overly complicated: Pin 15 seems to be connected to the anode through the 100 Ohm resistor, too. So **your picture is OK**, I was just saving 2

[2022-04-30 13:18] diyelectromusic commented on #163
I know - that's what I mean about who is the audience for these - it isn't really someone like you! :)

Ideally I'd add the PCM link and MIDI too, but then that is getting quite a long way away from who I'd imagine the audience would be - someone just wanted to get started and "have a go" with MiniDexed.  With a LCD with pre-soldered headers and a KY-040 encoder module and a wiring diagram, almost

[2022-04-30 16:04] diyelectromusic commented on #163
Does this one seem any better?  I've not added the capacitors, I just can't get it looking clear enough with them in, so they might need to be added as text.  It would probably make more sense to solder them directly onto the encoder pcb anyway?

I dropped back to just a single 5V and GND to the LCD (and changed the GND pin used on the PI in the process). It just seems neater that way?  What do we

[2022-04-30 16:08] probonopd commented on #163
Yes, I think this is great. Except for the blue connection point on top of the yellow line - this could be misintepreted. I'd do the yellow line more like the orange one, have it to to the left, then to the top, then to the display. Btw, the SCK pin on my i2s module can be left ungrounded and it still works.

[2022-04-30 16:21] diyelectromusic commented on #163
Oh yes, sure :)  Where do you want it!?

![RPi-miniDexed-DefaultPins-Wires_bb](https://user-images.githubusercontent.com/68612569/166113764-e345ed68-acdb-4801-82ed-a9a2590d1514.png)

[2022-04-30 17:15] probonopd commented on #163
Cool! If you zip the Fritzing file, then you can attach it to your post above this one.

[2022-04-30 17:18] diyelectromusic commented on #163
Try that

[2022-04-30 21:49] JohnConnor84 commented on #88
Please a 4x4 Gpio Membrane keypad menu implementation would be so awesome! pleaaase! My idea is indeed a eurorack format or a 2U 19inch rack version.

[2022-04-30 23:51] probonopd commented on #88
@JohnConnor84 you have now posted the idea "4x4 Gpio Membrane keypad" in 3 different places.
The best place to start a discussion around this would be [here](https://github.com/probonopd/MiniDexed/discussions/new?category=ideas).

[2022-05-03 01:44] dlawle opened #198 "LCD screen displaying random characters or just black squares"
Hello,

I’m running into an issue where upon the first connection, my lcd display showed this:
![lcd display showed this.](https://user-images.githubusercontent.com/39495124/166393210-e0007268-0af6-4409-b430-5a65762a4525.jpeg)

After a power cycle, it only displayed a single row (top) of black squares (all matrix grid filled).

I'm running on a pi 4, with a 128gb sd card, followed the tutorial in

[2022-05-03 02:40] dlawle commented on #198
I believe this may belong in discussion. Please move if so!

[2022-05-03 02:54] craigyjp commented on #198
Try powering the display from  3.3v.

[2022-05-03 22:33] BenZonneveld commented on #82
Maybe an idea to add sysex control over parameters like volume,panning,reverb-send, detune and midi channel for each TG.
I am aware of midi control change for some of those parameters but when you have several TG's set to the same midi channel this is not practical.

[2022-05-04 03:34] arsamus commented on #125
This will be a good enhancement it is necessary for those that use minidexed as a multitumbral synth. Selection of saved performances is the way to change this multitumbral paches, otherwise you have to navigate on the menus and ajust the parameters to set the decired patch.

Other important enhancement could be load and saving performances and sysex banks on an USB pendrive. this avoid to access

[2022-05-04 06:18] probonopd commented on #82
Let's get the "normal" Dexed sysex working first. Later we can think about additional ones, but should do so in a way compatible with or at least similar to existing instruments.

[2022-05-04 06:25] probonopd commented on #88
@diyelectromusic has made one out of perfboard: :+1:

![image](https://user-images.githubusercontent.com/2480569/166631880-b5b6081a-d94d-47f7-b022-69f3f4314df4.png)

https://diyelectromusic.wordpress.com/2022/05/03/bare-metal-raspberry-pi-minidexed-dx7-part-2/

[2022-05-04 11:16] jrdooley commented on #82
Fantastic news!

[2022-05-04 12:26] BenZonneveld commented on #82
After reading through some TX816 documentation I noticed they use the midi channel as the sysex ID so sysex is the way to do it.

[2022-05-04 20:27] dronus commented on #62
Actually implementing a whole UI from scratch within the constraints of the realtime audio system is less fun...
But how about using an existing UI? For example, add another RPi, running RaspberryPI-OS sporting a browser serving an UI like this one:
https://pbpraha.github.io/index.html
- which fits perfectly on a large FullHD touch screen.

The two Raspis may be connected by the serial RX/TX pins,

[2022-05-04 20:35] dronus opened #203 "README: Document advantages over running on Linux"
While I am thrilled by this project, I wonder what the benefits over running Dexed on Linux on the Raspberry would be.

Maybe the documentation should say something about that. As there are of course a lot of benefits running  some Linux OS.

What comes to my mind is of course much lower power-on latency, and most likely much better audio latency. But how much? What else?

[2022-05-05 06:52] diyelectromusic commented on #163
Here is an updated Fritzing file, this time with a possibly workable schematic too (seeing as someone was asking elsewhere). There was also two buggy connections in the first one that are now hopefully fixed!

Kevin

![RPi-miniDexed-DefaultPins-Wires_schem](https://user-images.githubusercontent.com/68612569/166874870-f8247042-0760-4091-a58d-3a1c9e6b23d0.png)
![RPi-miniDexed-DefaultPins-Wires_bb](h

[2022-05-05 18:31] #163 closed

[2022-05-07 06:18] dcoredump commented on #203
Another advantage (for me the most important advantage!): The whole thing still works in 10 or 20 years, even if your future OS no longer offers driver support. In addition, you are not subject to constant updates and the risk that something will not work afterwards. This is incredibly important if you want to use the synth on stage. Nothing is worse than when your musical instrument stops working

[2022-05-07 06:55] probonopd commented on #203
* Faster startup time
* Lower latency
* Way easier and faster installation and updates
* Fewer external dependencies
* No need to configure JACK
* More direct control over the specific Raspberry Pi hardware
* Lower poerformance overhead
* Easier reuse of existing Synth_Dexed and MicroDexed code
* Overall much simpler
* Less like a "computer", more like an "instrument"
* Not developing against a "m

[2022-05-07 21:44] probonopd commented on #163
Using the Fritzing file, it should be possible to create Gerber files for a service like JLCPCB...
https://support.jlcpcb.com/article/171-how-to-generate-gerber-and-drill-files-in-fritzing

[2022-05-07 21:47] probonopd commented on #88
https://github.com/probonopd/MiniDexed/issues/163#issuecomment-1120297634

[2022-05-09 10:10] john-davies commented on #140
Can I ask what the conclusion was to this problem? I have a Pi 1 and the build from Apr 30, 2022, 20:52:10 that I downloaded exhibits the same problem as the first message in this issue:

`The last message is minidexed: Serial MIDI interface enabled, thereafter it seems frozen.`

I don't have an LCD or Encoder connected and I'm using PWM audio for a quick performance test on my Pi 1. I'm using an

[2022-05-09 10:25] luisfcorreia commented on #140
Have you tried a recent build?

I helped testing this and did not come to any conclusion, all home built versions worked fine.

Then I tested a new build, about when MicroDexed was updated and apparently (to me at least) it seemed to be the root cause.

But I might be totally wrong and  the problem may persist, haven't retested for a while

[2022-05-10 19:23] john-davies commented on #140
The latest version from 9th May does the same thing.

Sorry if this is a stupid question but the "Building locally" page of the wiki refers only to the Pi 4. Is there an equivalent for the Pi 1? Alternatively is there a way of running the `build.yml` workflow on my local machine ( Googling indicates that there isn't )

[2022-05-10 19:25] luisfcorreia commented on #140
I just "export RPI=1" and run "./build.sh" on my Linux desktop

[2022-05-10 20:58] john-davies commented on #140
OK, thanks. I did the following, starting from a clean install:
[code]

I then copied `src/kernel.img` over the build downloaded from the Releases page but the result is the same as before. The `Compile time: ...` line was updated correctly so I'm reasonably sure that I'm running the new build.

[2022-05-10 21:11] luisfcorreia commented on #140
yup, it does look like, you've compiled it correctly

I can't test it today, will try to do it tomorrow

[2022-05-11 06:12] probonopd commented on #140
Just some ideas since when I had tested this the last time I came to the conclusion that it was not a software issue but I wasn't able to reproduce the issue anymore.
* Try a more powerful (at least 2A) power supply
* Try a different SD card

[2022-05-11 06:41] probonopd commented on #182
Merged. Thank you @dcoredump

[2022-05-11 06:41] #182 closed

[2022-05-11 10:32] miotislucifugis opened #211 "Issue with CC10- Pan"
Trying out sending Midi CC#s to control the parameters and all seem to be working, except CC#10 controlling pan.  When I change the CC value, miniDexed seems to respond, but the pan is not smooth - it  makes glitchy flickering sound in the speakrs and I can see the level flicker on the dexed screen as the pan jumps.  I have Midi thru configured to route USB midi from my keystep to serial thru and

[2022-05-11 10:48] miotislucifugis commented on #211
nevermind.  I cycled power on the keystep and it works now.   go figure

[2022-05-11 10:48] #211 closed

[2022-05-11 18:50] miotislucifugis opened #214 "Serial Midi In double triggering notes"
Just discovering that with the last few builds (from today) midi In via Serial is causing a double trigger of notes... both on Note On (when key is pressed)  and Note off (key is released)... eventually this causes the pi/ minidexed to stop responding altogether.
Perhaps this may be why Ive been having difficulty sending sysex parameter changes.

I just installed an older version of MiniDexed (bef

[2022-05-11 19:15] probonopd commented on #214
Does this one work?
[MiniDexed_2022-05-05-76620d1](https://github.com/probonopd/MiniDexed/suites/6392503597/artifacts/232482733)

It is the build from 76620d1.

[2022-05-11 19:31] miotislucifugis commented on #214
Sure thing!

[MiniDexed_2022-05-05-76620d1](https://github.com/probonopd/MiniDexed/suites/6392503597/artifacts/232482733) - yes working

[MiniDexed_2022-05-09-3894cb3](https://github.com/probonopd/MiniDexed/suites/6433675941/artifacts/235332344)
no

[MiniDexed_2022-05-11-b6df892](https://github.com/probonopd/MiniDexed/suites/6458091795/artifacts/236945096)
no
I didnt bother trying the last one

[2022-05-12 04:28] lukexi opened #215 "Microtuning support"
Would be an incredible addition!

Looks like Dexed has it, so I guess it's a matter of porting it into Synth_Dexed and then into MiniDexed?

[2022-05-12 04:56] dcoredump commented on #215
Hi @lukexi ,

I thinks MicroTuning is not very difficult to implement, but currently I have much others tasks in my list.

<Advertisement>
I can only call on everyone to try to deal with the programming (of MiniDexed). If you know a little C/C++ and have the patience to learn the code, you will find a very interesting world. In addition, there is here (and also on other forums) help. For me in par

[2022-05-12 06:52] probonopd commented on #214
Looks like it might have to do with https://github.com/probonopd/MiniDexed/pull/195 then?

cc @dcoredump

[2022-05-12 07:03] dcoredump commented on #214
Umpf... Have to take a deeper look at this. I hope my scope is arriving today, so I can fix my MiniDexed. After Superbooth I will have some more time for this and fix it!

[2022-05-12 07:06] diyelectromusic commented on #214
I'm not entirely sure, but I notice that m_SerialMIDI.Process() is called twice from CMiniDexed.Process()?

And there might also be something odd in the RunningStatus handling in CSerialMIDIDevice.Process as a consequence of the SysEx additions.  m_nSerialState/case 4 has lost it's else statement that reset MIDI handling in the case of receiving a CMD message (it has moved to cases 1,2 which are a

[2022-05-12 11:32] dcoredump commented on #214
Yes, you are totaly right! Thanks for reporting.will fix this in an hour.

I think this happend due to my excessive debugging when implementing SYSEX until I found that the problems was my MIDI input circuit...

[2022-05-12 17:19] probonopd commented on #214
Thanks @dcoredump

[2022-05-12 17:19] #214 closed

[2022-05-13 22:56] probonopd commented on #88
Note to self: https://aisler.net/, including parts

[2022-05-14 19:07] diyelectromusic commented on #169
For info, I've sent in support for the I2C version of the HD44780 so hopefully that will be in the next Circle release.

I have draft support for SSD1306 based displays too based on the driver in MT32-Pi (you can see it in my own branch of circle), but it looks like that is going to open a bit of a wider discussion on how to do graphical displays that will have to wait until after the next release

[2022-05-14 19:14] probonopd commented on #169
Wow, that's quite exciting @diyelectromusic!

Since MiniDexed is using the develop branch of Circle, we should be good to go!
How can MiniDexed make use of it?

[2022-05-14 19:44] diyelectromusic commented on #169
Well to use the I2C hd44780 just use the same initialisation but with I2C instead.  There is a new addon/display/sample/hd44780i2c example that shows how (I haven't looked at how MiniDexed does it yet - I'll have a look and see).  The SSD1306 in theory would be similar, but as I say that isn't in Circle yet... :)

[2022-05-14 19:55] diyelectromusic commented on #169
So I think you need to first create a CI2CMaster object and then pass this into the new HD44780 constructor something like the following:

#define I2C_MASTER_DEVICE	(CMachineInfo::Get ()->GetDevice (DeviceI2CMaster))

  m_pI2CMaster = new CI2CMaster(I2C_MASTER_DEVICE);
  m_pLCD = new CHD44780Device (&I2CMaster, I2C_ADDR, CConfig::LCDColumns, CConfig::LCDRows);

That kind of thing in userinterface.

[2022-05-14 20:17] probonopd commented on #169
Running into issues:

[code]

What stupid mistakes am I making?

[2022-05-14 20:20] diyelectromusic commented on #169
Oh sorry - that wasn't exact code, I've not got a building MiniDexed setup atm, but it is that kind of thing.  To start with you'll need to include <circle/i2cmaster.h> somewhere and I don't know what strategy you are using for objects - statically created in other objects or dynamically created, but the essence is:
  Get an CI2CMaster instance; pass this into the HD44780 instance along with the I

[2022-05-14 20:21] probonopd commented on #169
`m_I2CMaster` is being set up in

https://github.com/probonopd/MiniDexed/blob/2199208d340f111dfc3a644737d31464ba4308ae/src/kernel.cpp#L33

[2022-05-14 20:22] diyelectromusic commented on #169
That should do then I think?  Can you just pass that into the HD44780 constructor?

[2022-05-14 20:25] probonopd commented on #169
I used this trick:

https://github.com/probonopd/MiniDexed/blob/52b8900293b4605b9aba7182d2d72fe9f1eb7235/.github/workflows/build.yml#L26-L27

[2022-05-14 20:31] diyelectromusic commented on #169
It looks like it will need to be added to the interface for CUserInterface and then passed in from kernel.c when m_UI is setup in CMiniDexed...?

[2022-05-14 20:35] probonopd commented on #169
Probably. As you have probably guessed by now, C++ is just not how my brain is wired. Do you think you can get it to work?

[2022-05-14 20:37] diyelectromusic commented on #169
It will take me a while to get an environment up and running... but I won't really get a chance to have a proper look right away...

I'll see what I can do :)

[2022-05-14 20:50] probonopd commented on #169
This is the quickest way imho, 3 minutes max:

https://github.com/probonopd/MiniDexed/wiki/Development#developing-in-the-cloud

[2022-05-14 20:58] diyelectromusic commented on #169
I'm having a go.  Is there a Ubuntu package for the aarch64 toolchain?  There was for the 32-bit one, I could just apt-get install gcc-arm-none-eabi, but I'm not sure what to look for for aarch64... (it seems odd to have to download a .tgz!?)

[2022-05-14 21:00] probonopd commented on #169
This is the official toolchain provided by ARM. I have never tried anyting else.

[2022-05-14 22:54] diyelectromusic commented on #169
Ok, I think the initial support could look something like this: https://github.com/diyelectromusic/MiniDexed/commits/hd44780i2c

This requires the latest develop branch of circle (which I haven't included, as I wasn't quite sure what I was doing with submodules in git!).  This seems to work for me for both I2C and non-I2C versions of the HD44780.  If LCDI2CAddress is set in the minidexed.ini file

[2022-05-15 07:23] #169 closed

[2022-05-15 07:52] probonopd commented on #169
Thank you very much @diyelectromusic. I have merged your patch and have updated the documentation accordingly. Right now i2c is not yet the default configuration, but possibly we should make it so.